@{
    ViewBag.Title = "请假";
}
<div data-pagelimit="请假">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
        <li><span>请假</span></li>
    </ol>
    <div>
        <div class="jumbotron" style="padding-left:40px;">
            <h3>欢迎来到体验中心</h3>
            <p>请假管理</p>
        </div>
    </div>
</div>