@{
    ViewBag.Title = "年结存";
}
<div data-pagelimit="yearbalance">
    <div ng-app="myApp" ng-controller="myCtrl">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><span>年结存</span></li>
        </ol>

        <div class="panel panel-info">
            <div class="panel-heading">年结存</div>
            <div class="panel-body">
                <form name="myForm">
                    <div class="alert alert-danger">
                        <p>年结存将本年结余转为下年期初，本年的明细数据将转入备份账套，主账套中的明细数据将被删除。</p>
                        <p>做年结存之前，请所有操作员退出系统，停止操作。</p>
                    </div>
                    <div class="form-group form-inline">
                        <label>备份账套名称</label>
                        <input type="text" class="form-control" name="ztname" ng-model="ztname" required />
                        <span class="help-block" style="display:inline;">示例：2017年结存</span>

                    </div>
                    <div class="form-group checkbox">
                        <label><input type="checkbox" ng-model="specialdate" /> 指定日期结存</label>
                    </div>
                    <div class="form-group form-inline" ng-show="specialdate">
                        <label>结存日期</label>
                        <div class="dropdown" style="display: inline;">
                            <a class="dropdown-toggle balancedate" role="button" data-toggle="dropdown" data-target="#"
                               href="javascript:;">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="balancedate" ng-model="balancedate" />
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="balancedate" data-datetimepicker-config="{ dropdownSelector: '.balancedate',minView:'day',modelType:'YYYY-MM-DD'  }" />
                            </ul>
                        </div>
                    </div>
                    <span class="help-block">指定日期结存，是指按照用户指定的截止日期进行结存。</span>
                    <span class="help-block">在截止日期之前的业务单据将被删除，而截止日期之后的业务单据将被保留。同时系统结存后，自动开账，开账日期就是截止日期的第二天。</span>
                    <span class="help-block">如果不指定日期，那么系统将以当前日期作为截止日期，所有的业务单据都将被删除，结余数转为期初数。</span>
                    <span class="help-block">不指定日期结存，需要用户自己开账。</span>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary"
                                ng-disabled="myForm.ztname.$invalid || savedisabled"
                                ng-click="btnsaveClick()">
                            <i class="fa fa-save fa-fw"></i>确定结存
                        </button>
                    </div>
                    <div class="alert alert-info" ng-show="showwaiter">
                        <span>正在结存，请勿退出，也不要进行任何操作<i style="margin-left:15px;" class="fa fa-spinner fa-spin fa-2x fa-fw"></i></span>                        
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section styles{
    <link href="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/angular-bootstrap-datetimepicker/1.0.1/css/datetimepicker.min.css"
          rel="stylesheet">

    <style>
        .table td, th {
            text-align: center;
        }

        label {
            min-width: 80px;
        }
    </style>

}
@section scripts{
    <script src="https://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sweetalert/1.1.2/SweetAlert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://jxc.51yunxitong.cn/content/cdn/moment-zh-cn.js"></script>
    <script src="https://cdn.bootcss.com/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.templates.min.js"></script>

    <script>
        var app = angular.module('myApp', ['ngTable', 'oitozero.ngSweetAlert', 'angular-loading-bar', 'ui.bootstrap', 'ui.bootstrap.datetimepicker']);

        app.controller('myCtrl', function ($scope, $http, $window, SweetAlert, $uibModal, NgTableParams) {

            $scope.specialdate = false;

            $scope.btnsaveClick = function () {
                if ($scope.specialdate && !$scope.balancedate) {
                    SweetAlert.swal({ title: '请指定结存日期！', type: 'error' });
                    return;
                }

                SweetAlert.swal({
                    title: '确定要年结存吗？',
                    text: '',
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: '取消',
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: '确定',
                    closeOnConfirm: true
                },
               function (isConfirm) {
                   if (!isConfirm) return;

                   $scope.savedisabled = true;
                   $scope.showwaiter = true;
                   $http.post('/balanceservice/yearbalancesave', { ztname: $scope.ztname,specialdate:$scope.specialdate,balancedate: $scope.balancedate })
                       .success(function (data) {
                           $scope.savedisabled = false;
                           $scope.showwaiter = false;
                           if (data.message == 'ok') {
                               SweetAlert.swal({ title: '年结存成功!', type: 'success' }, function () {
                                   window.location.reload();
                               });
                           } else {
                               SweetAlert.swal({ title: data.message, type: 'error' });
                           }
                       });
               });

            };

        });

    </script>
}