<ul data-sort="200" data-group="进销存" data-groupsort="100" data-groupicon="fa fa-newspaper-o fa-fw">
    <li>
        <span><i class="fa fa-book fa-fw"></i><span class="menutitle">基础资料</span></span>
        <ul>
            <li ng-limit="productlist"><a href="/jxcbaseinfo/productlist"><i class="fa fa-tags fa-fw"></i><span class="menutitle">产品资料</span></a></li>
            <li ng-limit="customerlist"><a href="/jxcbaseinfo/customerlist"><i class="fa fa-shopping-bag fa-fw"></i><span class="menutitle">客户资料</span></a></li>
            <li ng-limit="vendorlist"><a href="/jxcbaseinfo/vendorlist"><i class="fa fa-truck fa-fw"></i><span class="menutitle">供应商</span></a></li>
            <li ng-limit="stocklist"><a href="/jxcbaseinfo/stocklist"><i class="fa fa-database fa-fw"></i><span class="menutitle">存货仓库</span></a></li>
            <li ng-limit="banklist"><a href="/jxcbaseinfo/banklist"><i class="fa fa-credit-card fa-fw"></i><span class="menutitle">资金账户</span></a></li>
            <li ng-limit="feelist"><a href="/jxcbaseinfo/feelist"><i class="fa fa-list fa-fw"></i><span class="menutitle">费用科目</span></a></li>
            <li ng-limit="earninglist"><a href="/jxcbaseinfo/earninglist"><i class="fa fa-list-alt fa-fw"></i><span class="menutitle">收入类型</span></a></li>
            <li ng-limit="inouttypelist"><a href="/jxcbaseinfo/inouttypelist"><i class="fa fa-exchange fa-fw"></i><span class="menutitle">出入库类型</span></a></li>
        </ul>
    </li>
</ul>