@{
    ViewBag.Title = "供应商资料";
}
<div data-pagelimit="vendorlist">
    <div ng-app="myApp" ng-controller="myCtrl">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><span>供应商资料</span></li>
        </ol>
        <div class="form-group form-inline pull-right">
            <label class="checkbox-inline" style="min-width:100px;">
                <input type="checkbox" ng-model="isFiltersVisible" />查询
            </label>
            <select class="form-control" ng-change="stateChange()" ng-model="state">
                <option value="normal">正常数据</option>
                <option value="stop">停用数据</option>
                <option value="">全部数据</option>
            </select>
            <a class="btn btn-primary" ng-limit="vendoradd" href="/jxcbaseinfo/vendoradd">
                <i class="fa fa-plus fa-fw"></i>
                新增
            </a>
            <a class="btn btn-primary"  href="/jxcbaseinfo/categorymanage?classname=vendor">
                <i class="fa fa-list fa-fw"></i>
                管理分类
            </a>
            <a href="javascript:;" class="btn btn-info" ng-limit="vendorexport" ng-click="csv.generate($event, '供应商.csv')">
                <i class="fa fa-file-excel-o fa-fw"></i>
                导出Excel
            </a>
            <a class="btn btn-info" ng-limit="vendorimport" href="/jxcbaseinfo/vendorimport">
                <i class="fa fa-inbox fa-fw"></i>
                数据导入
            </a>
        </div>
        <div style="clear:both;"></div>
        <div>
            <div class="pull-left" style="margin-right:20px;">
                <div js-tree="category.treeConfig" ng-model="category.treeData" id="treeInstance"
                     tree-events="select_node:selectNode">
                </div>
            </div>
            <div style="overflow-x:hidden;">
                <div style="width:100%;overflow-x:auto;">
                    <table ng-table="tableParams" export-csv="csv" class="table table-bordered table-condensed table-striped"
                           show-filter="isFiltersVisible">
                        <tr ng-repeat="m in $data" ng-class="{'t':'danger'}[m.content.stop]">
                            <td header-class="'bg-warning'" style="width:120px;">
                                <a href="/jxcbaseinfo/vendoredit?id={{m.id}}" ng-limit="vendoredit" title="编辑">
                                    <i class="fa fa-pencil fa-fw"></i>
                                </a>
                                <a ng-click="deleteClick(m.id)" class="text-danger" href="javascript:;" ng-limit="vendordelete" title="删除">
                                    <i class="fa fa-trash fa-fw">
                                    </i>
                                </a>
                                <a ng-click="stopClick(m.id)" class="text-danger" href="javascript:;" ng-hide="m.content.stop" ng-limit="vendorstop" title="停用">
                                    <i class="fa fa-ban fa-fw">
                                    </i>
                                </a>
                                <a ng-click="unstopClick(m.id)" href="javascript:;" ng-show="m.content.stop" ng-limit="vendorunstop" title="启用">
                                    <i class="fa fa-check-square-o fa-fw">
                                    </i>
                                </a>
                            </td>
                            <td data-title="'No.'" header-class="'bg-warning'" style="width:100px;">
                                <span ng-bind="(tableParams.page()-1)*tableParams.count()+$index+1"></span>
                            </td>
                            <td data-title="'供应商编号'" header-class="'bg-warning'" data-filter="{ code: 'text'}"
                                data-sortable="'code'">
                                <span ng-bind="m.content.code"></span>
                            </td>
                            <td data-title="'供应商名称'" header-class="'bg-warning'" data-filter="{name: 'text'}"
                                data-sortable="'name'">
                                <span ng-bind="m.content.name"></span>
                            </td>
                            <td data-title="'分类'" header-class="'bg-warning'" >
                                <span ng-bind="m.content.category.name"></span>
                            </td>
                            <td data-title="'联系人'" header-class="'bg-warning'" data-filter="{linkman: 'text'}">
                                <span ng-bind="m.content.linkman"></span>
                            </td>
                            <td data-title="'电话'" header-class="'bg-warning'" data-filter="{linkmobile: 'text'}">
                                <span ng-bind="m.content.linkmobile"></span>
                            </td>
                            <td data-title="'备注'" header-class="'bg-warning'" data-filter="{comment: 'text'}">
                                <span ng-bind="m.content.comment"></span>
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>
                                合计
                            </td>
                            <td>
                                <span ng-bind="totalrecordes"></span>条记录
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
@section styles{
    <link href="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">
    <style>
        .table td {
            text-align: center;
            max-width:200px;
        }
    </style>
}
@section scripts{
    <script src="https://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sweetalert/1.1.2/SweetAlert.min.js"></script>
    <script src="https://jxc.51yunxitong.cn/content/cdn/gbk.js"></script>
    <script src="https://jxc.51yunxitong.cn/content/cdn/ng-table-export.src.js"></script>
    <script src="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <script src="https://cdn.bootcss.com/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://jxc.51yunxitong.cn/content/cdn/ngJsTree.min.js"></script>

    <script>
        var app = angular.module('myApp', ['ngTable', 'oitozero.ngSweetAlert','angular-loading-bar', 'ui.bootstrap', 'ngTableExport', 'ngJsTree']);

        app.controller('myCtrl', function ($scope, $http, $window, NgTableParams, SweetAlert, $uibModal) {

            $scope.category = {};

            $scope.category.treeConfig = {
                "core": {
                    "animation": 0,
                    "themes": { "stripes": true },
                    "multiple": false
                },
                "plugins": ["types", "wholerow"
                ],
                version: 1
            };

            $http.post('/vendorservice/categorys',{})
                    .success(function (data) {
                        $scope.category.treeData = data;
                        $scope.category.treeConfig.version++;
                    });

            var selectednode;
            $scope.selectNode = function (node, selected, event) {
                if (selectednode) {
                    angular.element('#treeInstance').jstree(true).set_icon(selectednode, 'fa fa-folder-o fa-fw');
                }
                selectednode = selected.node;
                angular.element('#treeInstance').jstree(true).set_icon(selected.node, 'fa fa-folder-open-o fa-fw');
                $scope.categoryid = selected.node.id;
                $scope.tableParams.reload();
            };

            $scope.state = 'normal';
            $scope.categoryid = '0';

            var getData = function ($defer, params) {
                var filter = JSON.parse(angular.toJson(params.filter()));
                filter.state = $scope.state;
                filter.categoryid = $scope.categoryid;
                var sorting = params.sorting();
                var count = params.count();
                var page = params.page();
                $http.post('/vendorservice/list',
                    { page: page, count: count, sorting: JSON.stringify(sorting), filter: JSON.stringify(filter) })
                    .success(function (data) {
                        $scope.tableParams.total(data.resulttotal);
                        $scope.totalrecordes = data.resulttotal;
                        $scope.datalist = data.data;
                        $defer.resolve(data.data);
                    });
            };

            $scope.tableParams = new NgTableParams({ count: 25 }, { counts: [10, 25, 50, 100], total: 0, getData: getData });

            $scope.stateChange = function () {
                $scope.tableParams.reload();
            };

            $scope.deleteClick = function (id) {
                SweetAlert.swal({
                    title: '确定要删除吗？',
                    text: '数据删除后无法恢复',
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: '取消',
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: '删除',
                    closeOnConfirm: false
                },
                function (isConfirm) {
                    if (!isConfirm) return;

                    $http.post('/vendorservice/delete', { id: id }).success(function (data) {
                        if (data.message == 'ok') {
                            SweetAlert.swal({ title: '删除成功', type: 'success' }, function () {
                                $scope.tableParams.reload();
                            });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    });

                });
            };

            $scope.stopClick = function (id) {
                $http.post('/vendorservice/stop', { id: id }).success(function (data) {
                    if (data.message == 'ok') {
                        SweetAlert.swal({ title: '停用成功', type: 'success' }, function () {
                            $scope.tableParams.reload();
                        });
                    } else {
                        SweetAlert.swal({ title: data.message, type: 'error' });
                    }
                });
            };

            $scope.unstopClick = function (id) {
                $http.post('/vendorservice/unstop', { id: id }).success(function (data) {
                    if (data.message == 'ok') {
                        SweetAlert.swal({ title: '启用成功', type: 'success' }, function () {
                            $scope.tableParams.reload();
                        });
                    } else {
                        SweetAlert.swal({ title: data.message, type: 'error' });
                    }
                });
            };
        });


    </script>
}