@{
    ViewBag.Title = "采购退货单";
}
<div data-pagelimit="purchasebackbilladd">
    <div ng-app="myApp" ng-controller="myCtrl">
        @{Html.RenderPartial("/jxcpurchase/checkboxheader");}
        @{Html.RenderPartial("/jxcpurchase/employeechoice");}
        @{Html.RenderPartial("/jxcpurchase/stockchoice");}
        @{Html.RenderPartial("/jxcpurchase/vendorchoice");}
        @{Html.RenderPartial("/jxcpurchase/vendordetail");}
        @{Html.RenderPartial("/jxcpurchase/productchoice");}
        @{Html.RenderPartial("/jxcpurchase/productbatchchoice");}
        @{Html.RenderPartial("/jxcpurchase/billconfig");}
        @{Html.RenderPartial("/jxcpurchase/billcodeconfig");}
        @{Html.RenderPartial("/jxcpurchase/purchasebackbilldetail");}
        @{Html.RenderPartial("/jxcpurchase/purchasebackbillexcelimport");}
        @{Html.RenderPartial("/jxcpurchase/billload");}
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><span>采购退货单</span></li>
        </ol>
        <div class="panel panel-info">
            <div class="panel-heading">
                采购退货单
                <span style="margin-left:200px;">制单人：{{makername}}</span>
                <span style="margin-left:20px;" ng-bind="model.content.auditorid?'【已审核】':'【草稿】'"></span>
                <img src="~/Content/images/redword.png" ng-if="model.content.auditstatus===3" alt="" class="blueredword" />
                <img src="~/Content/images/blueword.png" ng-if="model.content.auditstatus===2" alt="" class="blueredword" />
                <a class="pull-right" href="javascript:;" ng-click="billconfigClick()"><i class="fa fa-gear fa-fw"></i></a>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>单据编号<span style="color:red">*</span></label>
                            <input type="text" class="form-control" ng-readonly="noeditbillcode" name="billcode" ng-model="model.content.billcode" required />
                            <a href="javascript:;" ng-click="billcodeClick()" title="设置编号格式"><i class="fa fa-info-circle"></i></a>
                        </div>
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>单据日期<span style="color:red">*</span></label>
                            <input type="text" class="form-control" ng-if="noeditbilldate" readonly="readonly" ng-model="model.content.billdate" />
                            <div class="dropdown" style="display: inline;" ng-if="!noeditbilldate">
                                <a class="dropdown-toggle billdate" role="button" data-toggle="dropdown" data-target="#"
                                   href="javascript:;">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="billdate" ng-model="model.content.billdate" required />
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="model.content.billdate" data-datetimepicker-config="{ dropdownSelector: '.billdate',minView:'day',modelType:'YYYY-MM-DD'  }" />
                                </ul>
                            </div>
                        </div>
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>经手人<span style="color:red">*</span></label>
                            <div class="input-group">
                                <input type="text" autocomplete="off" ng-next="true" ng-model="employee" placeholder="编号或名称模糊查询" uib-typeahead="employee.content.name for employee in updateEmployees($viewValue)"
                                       typeahead-on-select="employeeSelected($item, $model, $label,$event)" typeahead-loading="loadingEmployeeLocations"
                                       typeahead-no-results="noEmployeeResults" typeahead-select-on-blur="true" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="employeeClick()">...</button>
                                </span>
                            </div>
                            <i ng-show="loadingEmployeeLocations" class="glyphicon glyphicon-refresh"></i>
                            <span class="text-danger" ng-show="noEmployeeResults">没有匹配项</span>
                        </div>
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>仓库名称<span style="color:red">*</span></label>
                            <div class="input-group">
                                <input type="text" autocomplete="off" ng-next="true" ng-model="stock" placeholder="编号或名称模糊查询" uib-typeahead="stock.content.name for stock in updateStocks($viewValue)"
                                       typeahead-on-select="stockSelected($item, $model, $label,$event)" typeahead-loading="loadingStockLocations"
                                       typeahead-no-results="noStockResults" typeahead-select-on-blur="true" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="stockClick()">...</button>
                                </span>
                            </div>
                            <i ng-show="loadingStockLocations" class="glyphicon glyphicon-refresh"></i>
                            <span class="text-danger" ng-show="noStockResults">没有匹配项</span>
                        </div>
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>
                                供应商<span style="color:red">*</span>
                            </label>
                            <div class="input-group">
                                <input type="text" autocomplete="off" ng-next="true" ng-model="vendor" placeholder="编号或名称模糊查询" uib-typeahead="vendor.content.name for vendor in updateVendors($viewValue)"
                                       typeahead-on-select="vendorSelected($item, $model, $label,$event)" typeahead-loading="loadingVendorLocations"
                                       typeahead-no-results="noVendorResults" typeahead-select-on-blur="true" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="vendorClick()">...</button>
                                </span>
                            </div>
                            <i ng-show="loadingVendorLocations" class="glyphicon glyphicon-refresh"></i>
                            <span class="text-danger" ng-show="noVendorResults">没有匹配项</span>
                            <a href="javascript:;" ng-click="showVendorDetail()" title="详细信息"><i class="fa fa-info-circle"></i></a>
                        </div>

                        <div class="form-group form-inline col-md-12 col-lg-12">
                            <label>备注</label>
                            <input type="text" class="form-control" style="width:80%" name="comment" ng-model="model.content.comment" />
                            <a href="javascript:;" ng-click="showAttachment=true" title="上传附件"><i class="fa fa-paperclip fa-fw"></i></a>
                        </div>
                        <div class="form-group form-inline col-md-12" ng-show="showAttachment">
                            <label>附件</label>
                            <input type="file" class="form-control" id="file" multiple="multiple" />
                            <button class="btn btn-info" type="button" ng-click="uploadAttachments()"><i class="fa fa-upload fa-fw"></i>上传</button>
                            <img src="~/Content/images/loader.gif" ng-show="uploadwaiter" />
                        </div>
                        <div class="form-group col-md-12">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="m in model.content.attachments">
                                    <a ng-href="{{m.url}}" download="{{m.name}}" ng-bind="m.name"></a>
                                    <span style="margin-left:20px;" ng-bind="m.size"></span>
                                    <a href="javascript:;" title="删除" class="text-danger" ng-click="removeAttachment(m.url)"><i class="fa fa-remove fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline pull-right" ng-if="!model.content.auditorid">
                    <label ng-show="billconfig.content.taxformat" style="text-align:right">税率%</label>
                    <input type="number" class="form-control" style="width:80px;" ng-show="billconfig.content.taxformat" ng-model="global.taxrate" ng-model-options="{ updateOn:'blur'}" ng-change="globaltaxrateChange()" />
                    <label ng-show="billconfig.content.discountformat" style="text-align:right">扣率%</label>
                    <input type="number" class="form-control" style="width:80px;" ng-show="billconfig.content.discountformat" ng-model-options="{ updateOn:'blur'}" ng-model="global.discountrate" ng-change="globaldiscountrateChange()" />

                    <button type="button" class="btn btn-success" ng-click="detailClick()"><i class="fa fa-plus fa-fw"></i>新增明细</button>
                    <button type="button" class="btn btn-success" ng-click="detailbatchClick()"><i class="fa fa-plus-circle fa-fw"></i>批量新增</button>
                    <button type="button" class="btn btn-success" ng-click="detailexcelClick()"><i class="fa fa-file-excel-o fa-fw"></i>Excel导入</button>
                </div>
            </div>
            <div style="width:100%;overflow-x:auto;">
                <table ng-table="tableParams" class="table table-bordered table-condensed table-striped" show-filter="false">
                    <tr ng-repeat="m in $data">
                        <td header-class="'bg-warning'" style="width:60px;">
                            <a ng-click="deleteDetail(m.uuid)" class="text-danger" href="javascript:;" title="删除">
                                <i class="fa fa-trash fa-fw">
                                </i>
                            </a>
                        </td>
                        <td data-title="'No.'" header-class="'bg-warning'" style="width:60px;">
                            <span ng-bind="(tableParams.page()-1)*tableParams.count()+$index+1"></span>
                        </td>
                        <td data-title="'产品编号'" header-class="'bg-warning'"
                            data-sortable="'product.code'">
                            <span ng-bind="m.product.code"></span>
                            <a href="javascript:;" title="选择产品" class="pull-right" ng-click="productChange(m)"><i class="fa fa-ellipsis-h fa-fw"></i></a>
                        </td>
                        <td data-title="'产品名称'" header-class="'bg-warning'">
                            <span ng-bind="m.product.name"></span>
                        </td>
                        <td data-title="'规格'" header-class="'bg-warning'" ng-if="billconfig.content.showstandard">
                            <span ng-bind="m.product.standard"></span>
                        </td>
                        <td data-title="'型号'" header-class="'bg-warning'" ng-if="billconfig.content.showtype">
                            <span ng-bind="m.product.type"></span>
                        </td>
                        <td data-title="'单位'" header-class="'bg-warning'" ng-if="billconfig.content.showunit">
                            <span ng-bind="m.product.unit"></span>
                        </td>
                        <td data-title="'产地'" header-class="'bg-warning'" ng-if="billconfig.content.showarea">
                            <span ng-bind="m.product.area"></span>
                        </td>
                        <td data-title="'条码'" header-class="'bg-warning'" ng-if="billconfig.content.showbarcode">
                            <span ng-bind="m.product.barcode"></span>
                        </td>
                        <td data-title="'数量'" header-class="'bg-warning'" style="max-width:100px;">
                            <input type="number" class="tableinput" ng-model="m.qty" 
                                   ng-style="{'color':(!model.content.auditorid && m.qty>m.product.storage[model.content.stockid || '0'].qty)?'red':'black'}" 
                                   ng-model-options="{ updateOn:'blur'}" ng-change="qtyChange(m)" />
                        </td>
                        <td data-title="'库存数量'" header-class="'bg-warning'" style="max-width:100px;" ng-if="billconfig.content.showstorage">
                            <span ng-bind="m.product.storage[model.content.stockid || '0'].qty"></span>
                        </td>
                        <td data-title="'单价'" header-class="'bg-warning'" style="max-width:100px;">
                            <input type="number" class="tableinput" ng-model="m.price" ng-model-options="{ updateOn:'blur'}" ng-change="priceChange(m)" />

                        </td>
                        <td data-title="'金额'" header-class="'bg-warning'" style="max-width:100px;">
                            <input type="number" class="tableinput" ng-model="m.total" ng-model-options="{ updateOn:'blur'}" ng-change="totalChange(m)" />

                        </td>
                        <td data-title="'税率%'" header-class="'bg-warning'" ng-if="billconfig.content.taxformat" style="max-width:80px;">
                            <input type="number" class="tableinput" ng-model="m.taxrate" ng-model-options="{ updateOn:'blur'}" ng-change="taxrateChange(m)" />

                        </td>
                        <td data-title="'含税单价'" header-class="'bg-warning'" style="max-width:100px;" ng-if="billconfig.content.taxformat">
                            <input type="number" class="tableinput" ng-model="m.taxprice" ng-model-options="{ updateOn:'blur'}" ng-change="taxpriceChange(m)" />

                        </td>
                        <td data-title="'含税金额'" header-class="'bg-warning'" style="max-width:100px;" ng-if="billconfig.content.taxformat">
                            <input type="number" class="tableinput" ng-model="m.taxtotal" ng-model-options="{ updateOn:'blur'}" ng-change="taxtotalChange(m)" />

                        </td>
                        <td data-title="'扣率%'" header-class="'bg-warning'" style="max-width:80px;" ng-if="billconfig.content.discountformat">
                            <input type="number" class="tableinput" ng-model="m.discountrate" ng-model-options="{ updateOn:'blur'}" ng-change="discountrateChange(m)" />

                        </td>
                        <td data-title="'折后单价'" header-class="'bg-warning'" style="max-width:100px;" ng-if="billconfig.content.discountformat">
                            <input type="number" class="tableinput" ng-model="m.discountprice" ng-model-options="{ updateOn:'blur'}" ng-change="discountpriceChange(m)" />

                        </td>
                        <td data-title="'折后金额'" header-class="'bg-warning'" style="max-width:100px;" ng-if="billconfig.content.discountformat">
                            <input type="number" class="tableinput" ng-model="m.discounttotal" ng-model-options="{ updateOn:'blur'}" ng-change="discounttotalChange(m)" />

                        </td>
                        <td data-title="'订单编号'" header-class="'bg-warning'">
                            <span ng-bind="m.purchaseordercode"></span>
                        </td>
                        <td data-title="'备注'" header-class="'bg-warning'">
                            <input type="text" class="tableinput" ng-model="m.comment" ng-model-options="{ updateOn:'blur'}" />
                        </td>
                    </tr>
                    <tr class="warning">
                        <td colspan="2">
                            合计
                        </td>
                        <td></td>
                        <td></td>
                        <td ng-if="billconfig.content.showstandard"></td>
                        <td ng-if="billconfig.content.showtype"></td>
                        <td ng-if="billconfig.content.showunit"></td>
                        <td ng-if="billconfig.content.showarea"></td>
                        <td ng-if="billconfig.content.showbarcode"></td>
                        <td ng-bind="qtysum"></td>
                        <td ng-if="billconfig.content.showstorage"></td>
                        <td></td>
                        <td ng-bind="totalsum | currency:'￥' | cost:showcost"></td>
                        <td ng-if="billconfig.content.taxformat"></td>
                        <td ng-if="billconfig.content.taxformat"></td>
                        <td ng-if="billconfig.content.taxformat" ng-bind="taxtotalsum | currency:'￥' | cost:showcost"></td>
                        <td ng-if="billconfig.content.discountformat"></td>
                        <td ng-if="billconfig.content.discountformat"></td>
                        <td ng-if="billconfig.content.discountformat" ng-bind="discounttotalsum | currency:'￥' | cost:showcost"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <div class="form-group form-inline pull-right">
                    <a ng-href="/jxcpurchase/purchasebackbillprint?billid={{model.id}}" ng-if="model.content.auditorid" target="_blank" class="btn btn-primary"><i class="fa fa-print fa-fw"></i>打印</a>
                    <button type="button" class="btn btn-primary" ng-click="btnloadClick()"><i class="fa fa-folder-open-o fa-fw"></i>单据调阅</button>
                    <button type="button" class="btn btn-primary" ng-if="!model.content.auditorid" ng-click="btnsaveClick()" ng-disabled="savedisabled"><i class="fa fa-save fa-fw"></i>保存草稿</button>
                    <button type="button" class="btn btn-primary" ng-if="!model.content.auditorid" ng-click="btnauditClick()" ng-disabled="savedisabled" ng-limit="purchasebackbillaudit"><i class="fa fa-save fa-fw"></i>保存并审核</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
@section styles{
    <link href="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/angular-bootstrap-datetimepicker/1.0.1/css/datetimepicker.min.css"
          rel="stylesheet">
    <link href="//cdn.bootcss.com/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">
    <style>
        .table td, th {
            text-align: center;
        }

        label {
            min-width: 80px;
        }
    </style>
}
@section scripts{
    <script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="//cdn.bootcss.com/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
    <script src="//cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.js"></script>
    <script src="//cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="//cdn.bootcss.com/angular-sweetalert/1.1.2/SweetAlert.min.js"></script>
    <script src="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
    <script src="//139.196.218.9/cdn/moment-zh-cn.js"></script>
    <script src="//cdn.bootcss.com/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.min.js"></script>
    <script src="//cdn.bootcss.com/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.templates.min.js"></script>
    <script src="//cdn.bootcss.com/jstree/3.2.1/jstree.min.js"></script>
    <script src="//139.196.218.9/cdn/ngJsTree.min.js"></script>
    <script src="//139.196.218.9/cdn/myservice.js"></script>
    <script src="//139.196.218.9/cdn/ngnext.js"></script>
    <script src="//cdn.bootcss.com/node-uuid/1.4.7/uuid.min.js"></script>
    <script src="//139.196.218.9/cdn/myfilter.js"></script>

    <script>
        var app = angular.module('myApp', ['ngTable', 'oitozero.ngSweetAlert', 'angular-loading-bar', 'ui.bootstrap', 'ngJsTree', 'ngNext', 'ui.bootstrap.datetimepicker', 'myservice', 'myfilter']);

        app.controller('myCtrl', function ($scope, $http, $window, $q, NgTableParams, SweetAlert, mytools, $uibModal) {
            var id=@((ViewBag.QueryString as System.Collections.Specialized.NameValueCollection).Get("id")) ;

            $scope.model = { id: id, content: {} };
            $scope.tableParams = new NgTableParams({ count: 99999 });
            $scope.global = {};

            $http.post('/purchasebackbillservice/loadbill', {id:id})
                    .success(function (data) {
                        $scope.makername = data.makername;
                        $scope.model.content = data.content;
                        $scope.vendor=data.vendorname;
                        $scope.employee=data.employeename;
                        $scope.stock=data.stockname;
                        $scope.billconfig = data.billconfig;
                        $scope.digit = data.digit;
                        $scope.showcost = data.showcost;

                        $scope.noeditbillcode = data.noeditbillcode;
                        $scope.noeditbilldate = data.noeditbilldate;
                        $scope.global.taxrate = (data.billconfig.content.taxformat && data.billconfig.content.taxrate !== undefined) ? data.billconfig.content.taxrate : 0;
                        $scope.global.discountrate = 100;

                        $scope.tableParams.settings({
                            counts: [],
                            dataset: $scope.model.content.details
                        });
                    });


            $scope.billcodeClick = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'billcodeconfig.html',
                    controller: 'billcodeconfigModalCtrl',
                    size: 'lg',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $http.post('/purchasebackbillservice/BillCodeConfigSave', { template: model.template })
                        .success(function (data) {
                            if (data.message == 'ok') {
                                $scope.model.content.billcode = data.newcode;
                            } else {
                                SweetAlert.swal({ title: data.message, type: 'error' });
                            }
                        });
                });
            };

            $scope.globaltaxrateChange = function () {
                if ($scope.global.taxrate === undefined || $scope.global.taxrate === null) return;

                angular.forEach($scope.model.content.details, function (item) {
                    item.taxrate = $scope.global.taxrate;
                    mytools.taxpriceChange(item, $scope.digit);
                });

            };

            $scope.globaldiscountrateChange = function () {
                if ($scope.global.discountrate === undefined || $scope.global.discountrate === null) return;
                angular.forEach($scope.model.content.details, function (item) {
                    item.discountrate = $scope.global.discountrate;
                    mytools.taxpriceChange(item, $scope.digit);
                });

            };

            var savecheck = function () {
                if (!$scope.model.content.billcode) {
                    SweetAlert.swal({ title: '请填写单据编号', type: 'error' });
                    return false;
                }
                if (!$scope.model.content.billdate) {
                    SweetAlert.swal({ title: '请填写单据日期', type: 'error' });
                    return false;
                }
                if (!$scope.model.content.employeeid) {
                    SweetAlert.swal({ title: '请填写经手人', type: 'error' });
                    return false;
                }
                if (!$scope.model.content.vendorid) {
                    SweetAlert.swal({ title: '请填写供应商', type: 'error' });
                    return false;
                }
                if (!$scope.model.content.stockid) {
                    SweetAlert.swal({ title: '请填写仓库', type: 'error' });
                    return false;
                }
                if ($scope.model.content.details.length === 0) {
                    SweetAlert.swal({ title: '请填写产品明细', type: 'error' });
                    return false;
                }
                for (var i = 0; i < $scope.model.content.details.length; i++) {
                    var detail = $scope.model.content.details[i];
                    var row = i + 1;
                    if (!detail.qty || !mytools.checkpositivenumeric(detail.qty)) {
                        SweetAlert.swal({ title: '产品第' + row + '行没有数量', type: 'error' });
                        return false;
                    }
                    if (!mytools.checkpositivenumeric(detail.price)) {
                        SweetAlert.swal({ title: '产品第' + row + '行没有价格', type: 'error' });
                        return false;
                    }
                }

                return true;
            };


            $scope.btnloadClick = function () {
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'billload.html',
                    controller: 'billloadModalCtrl',
                    size: 'lg'
                });

                modalInstance.result.then(function (billid) {
                    window.location.href = '/jxcpurchase/purchasebackbilledit?id=' + billid;
                });
            };

            $scope.btnsaveClick = function () {
                if (savecheck() === false) return;

                $scope.savedisabled = true;
                $http.post('/purchasebackbillservice/editsave', $scope.model)
                    .success(function (data) {
                        $scope.savedisabled = false;
                        if (data.message == 'ok') {
                            if ($scope.billconfig.content.keepemployeeandstock) {
                                var purchasebackbill = {};
                                purchasebackbill.employeeid = $scope.model.content.employeeid;
                                purchasebackbill.stockid = $scope.model.content.stockid;
                                localStorage.purchasebackbill = angular.toJson(purchasebackbill);
                            }

                            if (data.nodraftprint) {
                                SweetAlert.swal({ title: '保存成功', type: 'success' }, function () {
                                    window.location.href = '/jxcpurchase/purchasebackbilladd';
                                });
                                return;
                            }

                            SweetAlert.swal({
                                title: '保存成功。要打印吗？',
                                text: '如果此处不打印，事后也可以重新调出单据打印',
                                type: "success",
                                showCancelButton: true,
                                cancelButtonText: '取消',
                                confirmButtonColor: "#0099CC",
                                confirmButtonText: '打印',
                                closeOnConfirm: true
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    $window.open('/jxcpurchase/purchasebackbillprint?billid=' + data.id);
                                }
                                window.location.href = '/jxcpurchase/purchasebackbilladd';

                            });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    });
            };

            $scope.btnauditClick = function () {
                if (savecheck() === false) return;

                $scope.savedisabled = true;
                $http.post('/purchasebackbillservice/editauditsave', $scope.model)
                    .success(function (data) {
                        $scope.savedisabled = false;
                        if (data.message == 'ok') {
                            if ($scope.billconfig.content.keepemployeeandstock) {
                                var purchasebackbill = {};
                                purchasebackbill.employeeid = $scope.model.content.employeeid;
                                purchasebackbill.stockid = $scope.model.content.stockid;
                                localStorage.purchasebackbill = angular.toJson(purchasebackbill);
                            }

                            SweetAlert.swal({
                                title: '保存并审核成功。要打印吗？',
                                text: '如果此处不打印，事后也可以重新调出单据打印',
                                type: "success",
                                showCancelButton: true,
                                cancelButtonText: '取消',
                                confirmButtonColor: "#0099CC",
                                confirmButtonText: '打印',
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    $window.open('/jxcpurchase/purchasebackbillprint?billid=' + data.id);
                                }
                                window.location.href = '/jxcpurchase/purchasebackbilladd';
                            });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    });
            };

            $scope.detailClick = function () {
                var model = { taxrate: $scope.global.taxrate, stockid: $scope.model.content.stockid, vendorid: $scope.model.content.vendorid, billconfig: $scope.billconfig, digit: $scope.digit };
                var modalInstance = $uibModal.open({
                    animation: false,
                    templateUrl: 'billdetail.html',
                    controller: 'billdetailModalCtrl',
                    size: 'lg', 
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $scope.model.content.details.push(model.content);

                    $scope.tableParams.reload();
                    $scope.detailClick();
                });
            };

            var getProductPrice = function (detail) {
                $http.post('/commonservice/GetProductPriceByVendor',
                                { productid: detail.productid, vendorid: $scope.model.content.vendorid })
                                .success(function (data) {
                                    if (data.message == 'ok') {
                                        detail.taxprice = data.price;
                                        mytools.taxpriceChange(detail, $scope.digit);
                                    }
                                });
            };

            $scope.detailbatchClick = function () {
                var model = { stockid: $scope.model.content.stockid, billconfig: $scope.billconfig };
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'productbatchchoice.html',
                    controller: 'productbatchchoiceModalCtrl',
                    size: 'lg',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    for (var productid in model.content.products) {
                        if (model.content.products.hasOwnProperty(productid)) {
                            var detail = { productid: parseInt(productid), product: model.content.products[productid] };
                            detail.taxrate = $scope.global.taxrate; //(model.billconfig.content.taxformat && model.billconfig.content.taxrate !== undefined) ? model.billconfig.content.taxrate : 0;
                            detail.discountrate = 100;
                            detail.qty = 1;
                            detail.taxprice = 0;
                            detail.uuid = uuid.v1();
                            $scope.model.content.details.push(detail);
                            if ($scope.model.content.vendorid) {
                                getProductPrice(detail);
                            }

                        }
                    }

                    $scope.tableParams.reload();
                });
            };

            $scope.detailexcelClick = function () {
                var model = { stockid: $scope.model.content.stockid, billconfig: $scope.billconfig,global:$scope.global };
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'excelimport.html',
                    controller: 'excelimportModalCtrl',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    angular.forEach(model.content.details, function (item) {
                        item.uuid = uuid.v1();
                        $scope.model.content.details.push(item);
                    });

                    $scope.tableParams.reload();
                });
            };

            $scope.productChange = function (detail) {
                var model = { stockid: $scope.model.content.stockid, billconfig: $scope.billconfig };
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'productchoice.html',
                    controller: 'productchoiceModalCtrl',
                    size: 'lg',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    detail.product = model.content.product;
                    detail.productid = model.content.productid;

                });
            };

            $scope.qtyChange = function (detail) {
                mytools.qtyChange(detail, $scope.digit);
            };

            $scope.priceChange = function (detail) {
                mytools.qtyChange(detail, $scope.digit);
            };

            $scope.totalChange = function (detail) {
                mytools.totalChange(detail, $scope.digit);
            };

            $scope.taxrateChange = function (detail) {
                mytools.taxpriceChange(detail, $scope.digit);
            };

            $scope.taxpriceChange = function (detail) {
                mytools.taxpriceChange(detail, $scope.digit);
            };

            $scope.taxtotalChange = function (detail) {
                mytools.taxtotalChange(detail, $scope.digit);
            };

            $scope.discountrateChange = function (detail) {
                mytools.taxpriceChange(detail, $scope.digit);
            };

            $scope.discountpriceChange = function (detail) {
                mytools.discountpriceChange(detail, $scope.digit);
            };

            $scope.discounttotalChange = function (detail) {
                mytools.discounttotalChange(detail, $scope.digit);
            };

            $scope.deleteDetail = function (uuid) {
                SweetAlert.swal({
                    title: '确定要删除吗？',
                    text: '数据删除后无法恢复',
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: '取消',
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: '删除',
                    closeOnConfirm: true
                },
                function (isConfirm) {
                    if (!isConfirm) return;

                    for (var i = 0; i < $scope.model.content.details.length; i++) {
                        if ($scope.model.content.details[i].uuid === uuid) {
                            $scope.model.content.details.splice(i, 1);
                            $scope.tableParams.reload();
                            return;
                        }
                    }
                });
            };

            $scope.$watch('model.content.details', function () {
                var qtysum = 0;
                var totalsum = 0;
                var taxtotalsum = 0;
                var discounttotalsum = 0;
                angular.forEach($scope.model.content.details, function (item) {
                    if (item.qty) qtysum += item.qty;
                    if (item.total) totalsum += item.total;
                    if (item.taxtotal) taxtotalsum += item.taxtotal;
                    if (item.discounttotal) discounttotalsum += item.discounttotal;
                });

                $scope.qtysum = qtysum;
                $scope.totalsum = totalsum;
                $scope.taxtotalsum = taxtotalsum;
                $scope.discounttotalsum = discounttotalsum;
            }, true);

            $scope.billconfigClick = function () {
                var model = { billconfig: $scope.billconfig };
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'billconfig.html',
                    controller: 'billconfigModalCtrl',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $scope.billconfig = model.billconfig;
                    $http.post('/purchasebackbillservice/billconfigsave', model)
                        .success(function (data) {
                            $scope.billconfig.id = data.id;
                            SweetAlert.swal({ title: '保存成功！', type: 'success' });
                            //$scope.tableParams.reload();
                        });
                });
            };

            $scope.updateStocks = function (filter) {
                if (filter === undefined || filter === null) {
                    filter = '';
                }
                var defer = $q.defer();
                $http.post('/commonservice/stockchoice',
                            { filter: filter })
                            .success(function (data) {
                                defer.resolve(data.data);
                            });
                return defer.promise;
            };

            $scope.stockSelected = function ($item, $model, $label, $event) {
                $scope.model.content.stockid = $item.id;
            };

            $scope.stockClick = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'stockchoice.html',
                    controller: 'stockchoiceModalCtrl',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $scope.stock = model.stock.content.name;
                    $scope.model.content.stockid = model.stock.id;
                });
            };

            $scope.updateEmployees = function (filter) {
                if (filter === undefined || filter === null) {
                    filter = '';
                }
                var defer = $q.defer();
                $http.post('/commonservice/employeechoice',
                            { filter: filter })
                            .success(function (data) {
                                defer.resolve(data.data);
                            });
                return defer.promise;
            };

            $scope.employeeSelected = function ($item, $model, $label, $event) {
                $scope.model.content.employeeid = $item.id;
            };

            $scope.employeeClick = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'employeechoice.html',
                    controller: 'employeechoiceModalCtrl',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $scope.employee = model.employee.content.name;
                    $scope.model.content.employeeid = model.employee.id;
                });
            };

            $scope.updateVendors = function (filter) {
                if (filter === undefined || filter === null) {
                    filter = '';
                }
                var defer = $q.defer();
                $http.post('/commonservice/vendorchoice',
                            { filter: filter })
                            .success(function (data) {
                                defer.resolve(data.data);
                            });
                return defer.promise;
            };

            $scope.vendorSelected = function ($item, $model, $label, $event) {
                $scope.model.content.vendorid = $item.id;
            };

            $scope.vendorClick = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'vendorchoice.html',
                    controller: 'vendorchoiceModalCtrl',
                    size: 'lg',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $scope.vendor = model.vendor.content.name;
                    $scope.model.content.vendorid = model.vendor.id;
                });
            };

            $scope.showVendorDetail = function () {
                if (!$scope.model.content.vendorid) return;

                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'vendordetail.html',
                    controller: 'vendordetailModalCtrl',
                    resolve: {
                        vendorid: function () { return $scope.model.content.vendorid; }
                    }
                });
            };

            $scope.uploadAttachments = function () {
                var file = document.getElementById('file');
                if (file.files.length == 0) return;

                $scope.uploadwaiter = true;

                var myform = new FormData();
                for (var i = 0; i < file.files.length; i++) {
                    myform.append("files[]", file.files[i]);
                }
                var req = new XMLHttpRequest();
                req.onreadystatechange = function () {
                    if (req.readyState == 4 && req.status == 200) {
                        $scope.uploadwaiter = false;
                        var data = JSON.parse(req.responseText);
                        if (data.message == 'ok') {
                            angular.forEach(data.urls, function (item) {
                                $scope.model.content.attachments.push(item);
                            });
                            SweetAlert.swal({ title: '上传成功！', type: 'success' });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    }
                }

                req.open("post", "/upload/uploadfiles", true);
                req.send(myform);
            };

            $scope.removeAttachment = function (url) {
                for (var i = 0; i < $scope.model.content.attachments.length; i++) {
                    if ($scope.model.content.attachments[i].url === url) {
                        $scope.model.content.attachments.splice(i, 1);
                        break;
                    }
                }
            };

        });

        app.controller('billcodeconfigModalCtrl', function ($scope, $uibModalInstance, $http, $q, SweetAlert, mytools, NgTableParams, model) {

            $scope.items = [];

            $http.post('/commonservice/GetBillCodeTemplate', { billname: 'purchasebackbill' })
                    .success(function (data) {
                        var template = data.template;
                        var ss = template.split(',');
                        angular.forEach(ss, function (item) {
                            if (item) {
                                $scope.items.push({ value: item });
                            }
                        });
                        var length = $scope.items.length;
                        for (var i = 0; i < 10 - length; i++) {
                            $scope.items.push({ value: '' });
                        }
                    });

            $scope.ok = function () {
                var ss = [];
                angular.forEach($scope.items, function (item) {
                    if (item.value) {
                        ss.push(item.value);
                    }
                });
                model.template = ss.join(',');

                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('billdetailModalCtrl', function ($scope, $uibModalInstance, $http, $q, SweetAlert, mytools, NgTableParams, model) {

            model.content = {};
            model.content.taxrate = model.taxrate;//(model.billconfig.content.taxformat && model.billconfig.content.taxrate !== undefined) ? model.billconfig.content.taxrate : 0;
            model.content.discountrate = 100;
            $scope.model = JSON.parse(angular.toJson(model));

            $scope.stockid = model.stockid ? (model.stockid + '') : '0';
            $scope.vendorid = model.vendorid ? (model.vendorid + '') : '0';
            $scope.billconfig = model.billconfig;

            $scope.showproductchoice = false;
            $scope.productClick = function () {
                $scope.showproductchoice = !$scope.showproductchoice;
            };

            $scope.category = {};

            $scope.category.treeConfig = {
                "core": {
                    "animation": 0,
                    "themes": { "stripes": true },
                    "multiple": false
                },
                "plugins": ["types", "wholerow"
                ],
                version: 1
            };

            $http.post('/commonservice/productcategorys', {})
                    .success(function (data) {
                        $scope.category.treeData = data;
                        $scope.category.treeConfig.version++;
                    });

            $scope.categoryid = '0';

            var getData = function ($defer, params) {
                var filter = JSON.parse(angular.toJson(params.filter()));
                filter.categoryid = $scope.categoryid;
                var sorting = params.sorting();
                var count = params.count();
                var page = params.page();
                $http.post('/commonservice/productlist',
                    { page: page, count: count, sorting: JSON.stringify(sorting), filter: JSON.stringify(filter) })
                    .success(function (data) {
                        $scope.tableParams.total(data.resulttotal);
                        $scope.totalrecordes = data.resulttotal;
                        $scope.datalist = data.data;
                        $defer.resolve(data.data);
                    });
            };

            $scope.tableParams = new NgTableParams({ count: 10 }, { counts: [10, 25], total: 0, getData: getData });

            var selectednode;
            $scope.selectNode = function (node, selected, event) {
                if (selectednode) {
                    angular.element('#treeInstance').jstree(true).set_icon(selectednode, 'fa fa-folder-o fa-fw');
                }
                selectednode = selected.node;
                angular.element('#treeInstance').jstree(true).set_icon(selected.node, 'fa fa-folder-open-o fa-fw');
                $scope.categoryid = selected.node.id;
                $scope.tableParams.reload();
            };

            $scope.updateProducts = function (filter) {
                if (filter === undefined || filter === null) {
                    filter = '';
                }
                var defer = $q.defer();
                $http.post('/commonservice/productchoice',
                            { filter: filter })
                            .success(function (data) {
                                defer.resolve(data.data);
                            });
                return defer.promise;
            };

            var getproductprice = function (prodcutid) {
                if ($scope.vendorid === '0') return;
                $http.post('/commonservice/GetProductPriceByVendor',
                            { productid: prodcutid, vendorid: $scope.vendorid })
                            .success(function (data) {
                                if (data.message == 'ok') {
                                    $scope.model.content.taxprice = data.price;
                                    $scope.taxpriceChange();
                                }
                            });
            };

            $scope.productSelected = function ($item, $model, $label, $event) {
                $scope.showproductchoice = false;
                $scope.product = $item.content.name;
                $scope.model.content.product = $item.content;
                $scope.model.content.productid = $item.id;
                getproductprice($scope.model.content.productid);
            };

            $scope.productChoice = function (product) {
                $scope.showproductchoice = false;
                $scope.product = product.content.name;
                $scope.model.content.product = product.content;
                $scope.model.content.productid = product.id;
                getproductprice($scope.model.content.productid);
            };

            $scope.qtyChange = function () {
                mytools.qtyChange($scope.model.content, model.digit);
            };

            $scope.priceChange = function () {
                mytools.qtyChange($scope.model.content, model.digit);
            };

            $scope.totalChange = function () {
                mytools.totalChange($scope.model.content, model.digit);
            };

            $scope.taxrateChange = function () {
                mytools.qtyChange($scope.model.content, model.digit);
            };

            $scope.taxpriceChange = function () {
                mytools.taxpriceChange($scope.model.content, model.digit);
            };

            $scope.taxtotalChange = function () {
                mytools.taxtotalChange($scope.model.content, model.digit);
            };

            $scope.discountrateChange = function () {
                mytools.qtyChange($scope.model.content, model.digit);
            };

            $scope.discountpriceChange = function () {
                mytools.discountpriceChange($scope.model.content, model.digit);
            };

            $scope.discounttotalChange = function () {
                mytools.discounttotalChange($scope.model.content, model.digit);
            };

            $scope.ok = function () {
                if (!$scope.model.content.productid) {
                    SweetAlert.swal({ title: '请选择产品', type: 'error' });
                    return;
                }

                if (!$scope.model.content.qty) {
                    SweetAlert.swal({ title: '请填写数量', type: 'error' });
                    return;
                }

                if ($scope.model.content.price === undefined || $scope.model.content.price === null) {
                    SweetAlert.swal({ title: '请填写价格', type: 'error' });
                    return;
                }

                model.content = $scope.model.content;
                model.content.uuid = uuid.v1();
                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('productchoiceModalCtrl', function ($scope, $uibModalInstance, $http, $q, SweetAlert, mytools, NgTableParams, model) {

            model.content = {};
            $scope.model = JSON.parse(angular.toJson(model));

            $scope.stockid = model.stockid ? (model.stockid + '') : '0';
            $scope.billconfig = model.billconfig;

            $scope.category = {};

            $scope.category.treeConfig = {
                "core": {
                    "animation": 0,
                    "themes": { "stripes": true },
                    "multiple": false
                },
                "plugins": ["types", "wholerow"
                ],
                version: 1
            };

            $http.post('/commonservice/productcategorys', {})
                    .success(function (data) {
                        $scope.category.treeData = data;
                        $scope.category.treeConfig.version++;
                    });

            $scope.categoryid = '0';

            var getData = function ($defer, params) {
                var filter = JSON.parse(angular.toJson(params.filter()));
                filter.categoryid = $scope.categoryid;
                var sorting = params.sorting();
                var count = params.count();
                var page = params.page();
                $http.post('/commonservice/productlist',
                    { page: page, count: count, sorting: JSON.stringify(sorting), filter: JSON.stringify(filter) })
                    .success(function (data) {
                        $scope.tableParams.total(data.resulttotal);
                        $scope.totalrecordes = data.resulttotal;
                        $scope.datalist = data.data;
                        $defer.resolve(data.data);
                    });
            };

            $scope.tableParams = new NgTableParams({ count: 10 }, { counts: [10, 25], total: 0, getData: getData });

            var selectednode;
            $scope.selectNode = function (node, selected, event) {
                if (selectednode) {
                    angular.element('#treeInstance').jstree(true).set_icon(selectednode, 'fa fa-folder-o fa-fw');
                }
                selectednode = selected.node;
                angular.element('#treeInstance').jstree(true).set_icon(selected.node, 'fa fa-folder-open-o fa-fw');
                $scope.categoryid = selected.node.id;
                $scope.tableParams.reload();
            };

            $scope.productClick = function (product) {
                model.content.product = product.content;
                model.content.productid = product.id;

                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('productbatchchoiceModalCtrl', function ($scope, $uibModalInstance, $http, $q, SweetAlert, mytools, NgTableParams, model) {

            model.content = {};
            $scope.model = JSON.parse(angular.toJson(model));

            $scope.checkboxes = { 'checked': false, items: {}, products: {} };
            $scope.$watch('checkboxes.checked', function (value) {
                angular.forEach($scope.datalist, function (item) {
                    $scope.checkboxes.items[item.id] = value;
                    if (value) {
                        $scope.checkboxes.products[item.id] = item.content;
                    } else {
                        delete $scope.checkboxes.products[item.id];
                    }
                });
            });

            $scope.rowClick = function (product) {
                $scope.checkboxes.items[product.id] = $scope.checkboxes.items[product.id] ? false : true;
                $scope.checkChange(product);
            };

            $scope.checkChange = function (product) {
                if ($scope.checkboxes.items[product.id]) {
                    $scope.checkboxes.products[product.id] = product.content;
                } else {
                    delete $scope.checkboxes.products[product.id];
                }
            };

            $scope.stockid = model.stockid ? (model.stockid + '') : '0';
            $scope.billconfig = model.billconfig;

            $scope.category = {};

            $scope.category.treeConfig = {
                "core": {
                    "animation": 0,
                    "themes": { "stripes": true },
                    "multiple": false
                },
                "plugins": ["types", "wholerow"
                ],
                version: 1
            };

            $http.post('/commonservice/productcategorys', {})
                    .success(function (data) {
                        $scope.category.treeData = data;
                        $scope.category.treeConfig.version++;
                    });

            $scope.categoryid = '0';

            var getData = function ($defer, params) {
                var filter = JSON.parse(angular.toJson(params.filter()));
                filter.categoryid = $scope.categoryid;
                var sorting = params.sorting();
                var count = params.count();
                var page = params.page();
                $http.post('/commonservice/productlist',
                    { page: page, count: count, sorting: JSON.stringify(sorting), filter: JSON.stringify(filter) })
                    .success(function (data) {
                        $scope.checkboxes.checked = false;
                        $scope.tableParams.total(data.resulttotal);
                        $scope.totalrecordes = data.resulttotal;
                        $scope.datalist = data.data;
                        $defer.resolve(data.data);
                    });
            };

            $scope.tableParams = new NgTableParams({ count: 10 }, { counts: [10, 25], total: 0, getData: getData });

            var selectednode;
            $scope.selectNode = function (node, selected, event) {
                if (selectednode) {
                    angular.element('#treeInstance').jstree(true).set_icon(selectednode, 'fa fa-folder-o fa-fw');
                }
                selectednode = selected.node;
                angular.element('#treeInstance').jstree(true).set_icon(selected.node, 'fa fa-folder-open-o fa-fw');
                $scope.categoryid = selected.node.id;
                $scope.tableParams.reload();
            };

            $scope.ok = function () {
                model.content.products = $scope.checkboxes.products;

                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('excelimportModalCtrl', function ($scope, $uibModalInstance, $http, $q, SweetAlert, mytools, NgTableParams, model) {

            model.content = {};

            $scope.stockid = model.stockid ? (model.stockid + '') : '0';
            $scope.billconfig = model.billconfig;

            var dealfile = function (path) {
                $http.post('/purchasebackbillservice/importdata', { path: path, taxrate: model.global.taxrate })
                    .success(function (data) {
                        $scope.uploadwaiter = false;
                        if (data.message == 'ok') {
                            model.content.details = data.data;
                            $uibModalInstance.close();
                        } else {
                            angular.element('#excelerrors').html(data.message);
                            angular.element('#excelerrors').show();
                        }
                    });

            };

            $scope.uploadClick = function () {
                var file = document.getElementById('excelfile');
                if (file.files.length == 0) return;

                $scope.uploadwaiter = true;
                angular.element('#excelerrors').hide();

                var myform = new FormData();
                myform.append("file", file.files[0]);

                var req = new XMLHttpRequest();
                req.onreadystatechange = function () {
                    if (req.readyState == 4 && req.status == 200) {
                        var data = JSON.parse(req.responseText);
                        if (data.message == 'ok') {
                            dealfile(data.path);
                        } else {
                            $scope.uploadwaiter = false;
                            angular.element('#excelerrors').html(data.message);
                            angular.element('#excelerrors').show();
                        }
                    }
                }

                req.open("post", "/upload/uploadfile", true);
                req.send(myform);
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('billconfigModalCtrl', function ($scope, $uibModalInstance, $http, $q, model) {

            $scope.model = JSON.parse(angular.toJson(model.billconfig));
            $scope.applyall = false;
            $scope.ok = function () {
                model.billconfig = $scope.model;
                model.applyall = $scope.applyall;
                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('vendordetailModalCtrl', function ($scope, $uibModalInstance, $http, $q, vendorid) {

            $http.post('/commonservice/vendordetail', { id: vendorid })
                    .success(function (data) {
                        $scope.vendor = data.data;
                    });

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('employeechoiceModalCtrl', function ($scope, $uibModalInstance, $http, $q, model) {

            $http.post('/commonservice/employeelist', {})
                    .success(function (data) {
                        $scope.employees = data.data;
                    });

            $scope.employeeSelected = function (employee) {
                model.employee = employee;
                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('stockchoiceModalCtrl', function ($scope, $uibModalInstance, $http, $q, model) {

            $http.post('/commonservice/stocklist', {})
                    .success(function (data) {
                        $scope.stocks = data.data;
                    });

            $scope.stockSelected = function (stock) {
                model.stock = stock;
                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('vendorchoiceModalCtrl', function ($scope, $uibModalInstance, $http, $q, NgTableParams, model) {

            $scope.category = {};

            $scope.category.treeConfig = {
                "core": {
                    "animation": 0,
                    "themes": { "stripes": true },
                    "multiple": false
                },
                "plugins": ["types", "wholerow"
                ],
                version: 1
            };

            $http.post('/commonservice/vendorcategorys', {})
                    .success(function (data) {
                        $scope.category.treeData = data;
                        $scope.category.treeConfig.version++;
                    });

            $scope.categoryid = '0';

            var getData = function ($defer, params) {
                var filter = JSON.parse(angular.toJson(params.filter()));
                filter.categoryid = $scope.categoryid;
                var sorting = params.sorting();
                var count = params.count();
                var page = params.page();
                $http.post('/commonservice/vendorlist',
                    { page: page, count: count, sorting: JSON.stringify(sorting), filter: JSON.stringify(filter) })
                    .success(function (data) {
                        $scope.tableParams.total(data.resulttotal);
                        $scope.totalrecordes = data.resulttotal;
                        $scope.datalist = data.data;
                        $defer.resolve(data.data);
                    });
            };

            $scope.tableParams = new NgTableParams({ count: 10 }, { counts: [10, 25], total: 0, getData: getData });

            var selectednode;
            $scope.selectNode = function (node, selected, event) {
                if (selectednode) {
                    angular.element('#treeInstance').jstree(true).set_icon(selectednode, 'fa fa-folder-o fa-fw');
                }
                selectednode = selected.node;
                angular.element('#treeInstance').jstree(true).set_icon(selected.node, 'fa fa-folder-open-o fa-fw');
                $scope.categoryid = selected.node.id;
                $scope.tableParams.reload();
            };

            $scope.vendorSelected = function (vendor) {
                model.vendor = vendor;
                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('billloadModalCtrl', function ($scope, $uibModalInstance, $http, $q, NgTableParams) {

            $scope.filter = {};
            $scope.queryfilter = {};

            var getData = function ($defer, params) {
                var filter = $scope.queryfilter;
                var count = params.count();
                var page = params.page();
                $http.post('/purchasebackbillservice/loadbillquery',
                    { page: page, count: count, filter: JSON.stringify(filter) })
                    .success(function (data) {
                        $scope.tableParams.total(data.resulttotal);
                        $scope.totalrecordes = data.resulttotal;
                        $scope.datalist = data.data;
                        $defer.resolve(data.data);
                    });
            };

            $scope.tableParams = new NgTableParams({ count: 10 }, { counts: [10, 25], total: 0, getData: getData });

            $scope.btnqueryClick = function () {
                $scope.queryfilter = JSON.parse(angular.toJson($scope.filter));
                $scope.tableParams.reload();
            };

            $scope.billSelected = function (bill) {
                $uibModalInstance.close(bill.id);
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });


    </script>
}