<ul data-sort="100" data-group="进销存" data-groupsort="100" data-groupicon="fa fa-newspaper-o fa-fw">
    <li>
        <span><i class="fa fa-gear fa-fw"></i><span class="menutitle">系统设置</span></span>
        <ul>
            <li ng-limit="monthbalance"><a href="/jxcsystem/monthbalance"><i class="fa fa-bookmark fa-fw"></i><span class="menutitle">月结存</span></a></li>
            <li ng-limit="yearbalance"><a href="/jxcsystem/yearbalance"><i class="fa fa-balance-scale fa-fw"></i><span class="menutitle">年结存</span></a></li>
            <li ng-limit="optionlist"><a href="/jxcsystem/optionlist"><i class="fa fa-gears fa-fw"></i><span class="menutitle">参数配置</span></a></li>
            <li ng-limit="rebuild"><a href="/jxcsystem/rebuild"><i class="fa fa-retweet fa-fw"></i><span class="menutitle">系统重建</span></a></li>
            <li ng-limit="loglist"><a href="/jxcsystem/loglist"><i class="fa fa-file-text-o fa-fw"></i><span class="menutitle">操作日志</span></a></li>
        </ul>
    </li>
</ul>