<ul data-sort="100" data-group="授权中心" data-groupsort="10" data-groupicon="fa fa-vcard fa-fw">
    <li>
        <span><i class="fa fa-gear fa-fw"></i><span class="menutitle">操作员与权限</span></span>
        <ul>
            <li ng-limit="departmentlist"><a href="/commonconfig/departmentlist"><i class="fa fa-group fa-fw"></i><span class="menutitle">单位部门</span></a></li>
            <li ng-limit="employeelist"><a href="/commonconfig/employeelist"><i class="fa fa-user-circle fa-fw"></i><span class="menutitle">单位员工</span></a></li>
           <li ng-limit="userlist"><a href="/commonconfig/userlist"><i class="fa fa-user fa-fw"></i><span class="menutitle">操作员与权限</span></a></li>
           
        </ul>
    </li>
</ul>