@{
    ViewBag.Title = "新增转款单";
}
<div data-pagelimit="transferbilladd">
    <div ng-app="myApp" ng-controller="myCtrl"> 
        @{Html.RenderPartial("/jxcaccounting/employeechoice");} 
        @{Html.RenderPartial("/jxcaccounting/bankchoice");} 
        @{Html.RenderPartial("/jxcaccounting/billcodeconfig");} 
        @{Html.RenderPartial("/jxcaccounting/billload3");}
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><span>转款单</span></li>
        </ol>
        <div class="panel panel-info">
            <div class="panel-heading">
                转款单
                <span style="margin-left:200px;">制单人：{{makername}}</span>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>单据编号<span style="color:red">*</span></label>
                            <input type="text" class="form-control" ng-readonly="noeditbillcode" name="billcode" ng-model="model.content.billcode" required />
                            <a href="javascript:;" ng-click="billcodeClick()" title="设置编号格式"><i class="fa fa-info-circle"></i></a>
                        </div>
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>单据日期<span style="color:red">*</span></label>
                            <input type="text" class="form-control" ng-if="noeditbilldate" readonly="readonly" ng-model="model.content.billdate" />
                            <div class="dropdown" style="display: inline;" ng-if="!noeditbilldate">
                                <a class="dropdown-toggle billdate" role="button" data-toggle="dropdown" data-target="#"
                                   href="javascript:;">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="billdate" ng-model="model.content.billdate" required />
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="model.content.billdate" data-datetimepicker-config="{ dropdownSelector: '.billdate',minView:'day',modelType:'YYYY-MM-DD'  }" />
                                </ul>
                            </div>
                        </div>
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>经手人<span style="color:red">*</span></label>
                            <div class="input-group">
                                <input type="text" autocomplete="off" ng-next="true" ng-model="employee" placeholder="编号或名称模糊查询" uib-typeahead="employee.content.name for employee in updateEmployees($viewValue)"
                                       typeahead-on-select="employeeSelected($item, $model, $label,$event)" typeahead-loading="loadingEmployeeLocations"
                                       typeahead-no-results="noEmployeeResults" typeahead-select-on-blur="true" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="employeeClick()">...</button>
                                </span>
                            </div>
                            <i ng-show="loadingEmployeeLocations" class="glyphicon glyphicon-refresh"></i>
                            <span class="text-danger" ng-show="noEmployeeResults">没有匹配项</span>
                        </div>
                         
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>付款账户</label>
                            <div class="input-group">
                                <input type="text" autocomplete="off" ng-next="true" ng-model="bank" placeholder="编号或名称模糊查询" uib-typeahead="bank.content.name for bank in updateBanks($viewValue)"
                                       typeahead-on-select="bankSelected($item, $model, $label,$event)" typeahead-loading="loadingBankLocations"
                                       typeahead-no-results="noBankResults" typeahead-select-on-blur="true" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="bankClick()">...</button>
                                </span>
                            </div>
                            <i ng-show="loadingBankLocations" class="glyphicon glyphicon-refresh"></i>
                            <span class="text-danger" ng-show="noBankResults">没有匹配项</span>
                        </div>
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>收款账户</label>
                            <div class="input-group">
                                <input type="text" autocomplete="off" ng-next="true" ng-model="bank2" placeholder="编号或名称模糊查询" uib-typeahead="bank.content.name for bank in updateBanks2($viewValue)"
                                       typeahead-on-select="bankSelected2($item, $model, $label,$event)" typeahead-loading="loadingBankLocations2"
                                       typeahead-no-results="noBankResults2" typeahead-select-on-blur="true" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="bankClick2()">...</button>
                                </span>
                            </div>
                            <i ng-show="loadingBankLocations2" class="glyphicon glyphicon-refresh"></i>
                            <span class="text-danger" ng-show="noBankResults2">没有匹配项</span>
                        </div>
                        <div class="form-group form-inline col-md-4 col-lg-4">
                            <label>转款金额</label>
                            <input type="number" class="form-control" name="total" ng-model="model.content.total" />
                        </div>
                        <div class="form-group form-inline col-md-12 col-lg-12">
                            <label>备注</label>
                            <input type="text" class="form-control" style="width:80%" name="comment" ng-model="model.content.comment" />
                            <a href="javascript:;" ng-click="showAttachment=true" title="上传附件"><i class="fa fa-paperclip fa-fw"></i></a>
                        </div>
                        <div class="form-group form-inline col-md-12" ng-show="showAttachment">
                            <label>附件</label>
                            <input type="file" class="form-control" id="file" multiple="multiple" />
                            <button class="btn btn-info" type="button" ng-click="uploadAttachments()"><i class="fa fa-upload fa-fw"></i>上传</button>
                            <img src="~/Content/images/loader.gif" ng-show="uploadwaiter" />
                        </div>
                        <div class="form-group col-md-12">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="m in model.content.attachments">
                                    <a ng-href="{{m.url}}" download="{{m.name}}" ng-bind="m.name"></a>
                                    <span style="margin-left:20px;" ng-bind="m.size"></span>
                                    <a href="javascript:;" title="删除" class="text-danger" ng-click="removeAttachment(m.url)"><i class="fa fa-remove fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
             
            <div class="panel-footer">
                <div class="form-group form-inline pull-right">
                    <button type="button" class="btn btn-primary" ng-click="btnloadClick()"><i class="fa fa-folder-open-o fa-fw"></i>单据调阅</button>
                    <button type="button" class="btn btn-primary" ng-click="btnsaveClick()" ng-disabled="savedisabled"><i class="fa fa-save fa-fw"></i>保存草稿</button>
                    <button type="button" class="btn btn-primary" ng-click="btnauditClick()" ng-disabled="savedisabled" ng-limit="transferbillaudit"><i class="fa fa-save fa-fw"></i>保存并审核</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
@section styles{
    <link href="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/angular-bootstrap-datetimepicker/1.0.1/css/datetimepicker.min.css"
          rel="stylesheet">
    <link href="https://cdn.bootcss.com/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">
    <style>
        .table td, th {
            text-align: center;
        }

        label {
            min-width: 80px;
        }
    </style>
}
@section scripts{
    <script src="https://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sweetalert/1.1.2/SweetAlert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
    <script src="//139.196.218.9/cdn/moment-zh-cn.js"></script>
    <script src="https://cdn.bootcss.com/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.templates.min.js"></script>
    <script src="https://cdn.bootcss.com/jstree/3.2.1/jstree.min.js"></script>
    <script src="//139.196.218.9/cdn/ngJsTree.min.js"></script>
    <script src="//139.196.218.9/cdn/myservice.js"></script>
    <script src="//139.196.218.9/cdn/myfilter.js"></script>
    <script src="//139.196.218.9/cdn/ngnext.js"></script>
    <script src="https://cdn.bootcss.com/node-uuid/1.4.7/uuid.min.js"></script>

    <script>
        var app = angular.module('myApp', ['ngTable', 'oitozero.ngSweetAlert', 'angular-loading-bar', 'ui.bootstrap', 'ngJsTree', 'ngNext', 'ui.bootstrap.datetimepicker', 'myservice', 'myfilter']);

        app.controller('myCtrl', function ($scope, $http, $window, $q, NgTableParams, SweetAlert, mytools, $uibModal) {

            $scope.model = { id: 0, content: {} }; 
            $scope.digit = 2;

            $http.post('/transferbillservice/init', {})
                    .success(function (data) {
                        $scope.makername = data.makername;
                        $scope.model.content = data.content;
                        $scope.model.content.attachments = []; 

                        $scope.noeditbillcode = data.noeditbillcode;
                        $scope.noeditbilldate = data.noeditbilldate;
 
                    });

            $scope.billcodeClick = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'billcodeconfig.html',
                    controller: 'billcodeconfigModalCtrl',
                    size: 'lg',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $http.post('/transferbillservice/BillCodeConfigSave', { template: model.template })
                        .success(function (data) {
                            if (data.message == 'ok') {
                                $scope.model.content.billcode = data.newcode;
                            } else {
                                SweetAlert.swal({ title: data.message, type: 'error' });
                            }
                        });
                });
            };
             
            var savecheck = function () {
                if (!$scope.model.content.billcode) {
                    SweetAlert.swal({ title: '请填写单据编号', type: 'error' });
                    return false;
                }
                if (!$scope.model.content.billdate) {
                    SweetAlert.swal({ title: '请填写单据日期', type: 'error' });
                    return false;
                }
                if (!$scope.model.content.employeeid) {
                    SweetAlert.swal({ title: '请填写经手人', type: 'error' });
                    return false;
                }
                 
                if (!$scope.model.content.bankid) {
                    SweetAlert.swal({ title: '请填写付款账户', type: 'error' });
                    return false;
                }
                if (!$scope.model.content.bankid2) {
                    SweetAlert.swal({ title: '请填写收款账户', type: 'error' });
                    return false;
                } 
                if (!$scope.model.content.total || !mytools.checkpositivenumeric($scope.model.content.total)) {
                    SweetAlert.swal({ title: '请填写转款金额', type: 'error' });
                    return false;
                }

                return true;
            };

            $scope.btnloadClick = function () {
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'billload.html',
                    controller: 'billloadModalCtrl',
                    size: 'lg'
                });

                modalInstance.result.then(function (billid) {
                    window.location.href = '/jxcaccounting/transferbilledit?id=' + billid;
                });
            };

            $scope.btnsaveClick = function () {
                if (savecheck() === false) return;

                $scope.savedisabled = true;
                 
                $http.post('/transferbillservice/addsave', $scope.model)
                    .success(function (data) {
                        $scope.savedisabled = false;
                        if (data.message == 'ok') {

                            if (data.nodraftprint) {
                                SweetAlert.swal({ title: '保存成功', type: 'success' }, function () {
                                    window.location.reload();
                                });
                                return;
                            }

                            SweetAlert.swal({
                                title: '保存成功。要打印吗？',
                                text: '如果此处不打印，事后也可以重新调出单据打印',
                                type: "success",
                                showCancelButton: true,
                                cancelButtonText: '取消',
                                confirmButtonColor: "#0099CC",
                                confirmButtonText: '打印',
                                closeOnConfirm: true
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    $window.open('/jxcaccounting/transferbillprint?billid=' + data.id);
                                }
                                window.location.reload();

                            });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    });
            };

            $scope.btnauditClick = function () {
                if (savecheck() === false) return;

                $scope.savedisabled = true;
                 
                $http.post('/transferbillservice/addauditsave', $scope.model)
                    .success(function (data) {
                        $scope.savedisabled = false;
                        if (data.message == 'ok') {

                            SweetAlert.swal({
                                title: '保存并审核成功。要打印吗？',
                                text: '如果此处不打印，事后也可以重新调出单据打印',
                                type: "success",
                                showCancelButton: true,
                                cancelButtonText: '取消',
                                confirmButtonColor: "#0099CC",
                                confirmButtonText: '打印',
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    $window.open('/jxcaccounting/transferbillprint?billid=' + data.id);
                                }
                                window.location.reload();
                            });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    });
            };
            
            $scope.updateEmployees = function (filter) {
                if (filter === undefined || filter === null) {
                    filter = '';
                }
                var defer = $q.defer();
                $http.post('/commonservice/employeechoice',
                            { filter: filter })
                            .success(function (data) {
                                defer.resolve(data.data);
                            });
                return defer.promise;
            };

            $scope.employeeSelected = function ($item, $model, $label, $event) {
                $scope.model.content.employeeid = $item.id;
            };

            $scope.employeeClick = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'employeechoice.html',
                    controller: 'employeechoiceModalCtrl',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $scope.employee = model.employee.content.name;
                    $scope.model.content.employeeid = model.employee.id;
                });
            };

            $scope.updateBanks = function (filter) {
                if (filter === undefined || filter === null) {
                    filter = '';
                }
                var defer = $q.defer();
                $http.post('/commonservice/bankchoice',
                            { filter: filter })
                            .success(function (data) {
                                defer.resolve(data.data);
                            });
                return defer.promise;
            };

            $scope.bankSelected = function ($item, $model, $label, $event) {
                $scope.model.content.bankid = $item.id;
            };

            $scope.bankClick = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'bankchoice.html',
                    controller: 'bankchoiceModalCtrl',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $scope.bank = model.bank.content.name;
                    $scope.model.content.bankid = model.bank.id;
                });
            };
                        
            $scope.updateBanks2 = function (filter) {
                if (filter === undefined || filter === null) {
                    filter = '';
                }
                var defer = $q.defer();
                $http.post('/commonservice/bankchoice',
                            { filter: filter })
                            .success(function (data) {
                                defer.resolve(data.data);
                            });
                return defer.promise;
            };

            $scope.bankSelected2 = function ($item, $model, $label, $event) {
                $scope.model.content.bankid2 = $item.id;
            };

            $scope.bankClick2 = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'bankchoice.html',
                    controller: 'bankchoiceModalCtrl',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $scope.bank2 = model.bank.content.name;
                    $scope.model.content.bankid2 = model.bank.id;
                });
            };
             
            $scope.uploadAttachments = function () {
                var file = document.getElementById('file');
                if (file.files.length == 0) return;

                $scope.uploadwaiter = true;

                var myform = new FormData();
                for (var i = 0; i < file.files.length; i++) {
                    myform.append("files[]", file.files[i]);
                }
                var req = new XMLHttpRequest();
                req.onreadystatechange = function () {
                    if (req.readyState == 4 && req.status == 200) {
                        $scope.uploadwaiter = false;
                        var data = JSON.parse(req.responseText);
                        if (data.message == 'ok') {
                            angular.forEach(data.urls, function (item) {
                                $scope.model.content.attachments.push(item);
                            });
                            SweetAlert.swal({ title: '上传成功！', type: 'success' });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    }
                }

                req.open("post", "/upload/uploadfiles", true);
                req.send(myform);
            };

            $scope.removeAttachment = function (url) {
                for (var i = 0; i < $scope.model.content.attachments.length; i++) {
                    if ($scope.model.content.attachments[i].url === url) {
                        $scope.model.content.attachments.splice(i, 1);
                        break;
                    }
                }
            };

        });

        app.controller('billcodeconfigModalCtrl', function ($scope, $uibModalInstance, $http, $q, SweetAlert, mytools, NgTableParams, model) {

            $scope.items = [];

            $http.post('/commonservice/GetBillCodeTemplate', { billname: 'transferbill' })
                    .success(function (data) {
                        var template = data.template;
                        var ss = template.split(',');
                        angular.forEach(ss, function (item) {
                            if (item) {
                                $scope.items.push({ value: item });
                            }
                        });
                        var length = $scope.items.length;
                        for (var i = 0; i < 10 - length; i++) {
                            $scope.items.push({ value: '' });
                        }
                    });

            $scope.ok = function () {
                var ss = [];
                angular.forEach($scope.items, function (item) {
                    if (item.value) {
                        ss.push(item.value);
                    }
                });
                model.template = ss.join(',');

                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });
  
        app.controller('employeechoiceModalCtrl', function ($scope, $uibModalInstance, $http, $q, model) {

            $http.post('/commonservice/employeelist', {})
                    .success(function (data) {
                        $scope.employees = data.data;
                    });

            $scope.employeeSelected = function (employee) {
                model.employee = employee;
                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

        app.controller('bankchoiceModalCtrl', function ($scope, $uibModalInstance, $http, $q, model) {

            $http.post('/commonservice/banklist', {})
                    .success(function (data) {
                        $scope.banks = data.data;
                    });

            $scope.bankSelected = function (bank) {
                model.bank = bank;
                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });
        
        app.controller('billloadModalCtrl', function ($scope, $uibModalInstance, $http, $q, NgTableParams) {

            $scope.filter = {};
            $scope.queryfilter = {};

            var getData = function ($defer, params) {
                var filter = $scope.queryfilter;
                var count = params.count();
                var page = params.page();
                $http.post('/transferbillservice/loadbillquery',
                    { page: page, count: count, filter: JSON.stringify(filter) })
                    .success(function (data) {
                        $scope.tableParams.total(data.resulttotal);
                        $scope.totalrecordes = data.resulttotal;
                        $scope.datalist = data.data;
                        $defer.resolve(data.data);
                    });
            };

            $scope.tableParams = new NgTableParams({ count: 10 }, { counts: [10, 25], total: 0, getData: getData });

            $scope.btnqueryClick = function () {
                $scope.queryfilter = JSON.parse(angular.toJson($scope.filter));
                $scope.tableParams.reload();
            };

            $scope.billSelected = function (bill) {
                $uibModalInstance.close(bill.id);
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

    </script>
}