@{
    ViewBag.Title = "新增收入类型";
}
<div data-pagelimit="earningadd">
    <div ng-app="myApp" ng-controller="myCtrl">
        <script type="text/ng-template" id="categorychoice.html">
            <div class="modal-header">
                <h3 class="modal-title">
                    选择分类
                </h3>
            </div>
            <div class="modal-body">
                <div js-tree="category.treeConfig" ng-model="category.treeData" tree="treeInstance"
                     tree-events="select_node:selectNode">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">
                    确定
                </button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">
                    取消
                </button>
            </div>

        </script>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><a href="/jxcbaseinfo/earninglist">收入类型</a></li>
            <li><span>新增收入类型</span></li>
        </ol>
        <div class="panel panel-info">
            <div class="panel-heading">
                新增收入类型
            </div>
            <div class="panel-body">
                <form name="myForm">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group form-inline col-md-12">
                                <label>类型编号<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" autocomplete="off" name="code" ng-model="model.content.code" required />
                                <span class="text-danger" ng-show="myForm.code.$invalid">必填项</span>
                            </div>
                            <div class="form-group form-inline col-md-12">
                                <label>类型名称<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" autocomplete="off" name="name" ng-model="model.content.name" required />
                                <span class="text-danger" ng-show="myForm.name.$invalid">必填项</span>
                            </div>
                            <div class="form-group form-inline col-md-12">
                                <label>类型分类</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" readonly="readonly" style="background-color:#fff" ng-model="categoryname">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="categoryClick()"><i class="fa fa-search fa-fw"></i></button>
                                        <button class="btn btn-default" type="button" ng-click="categoryremoveClick()"><i class="fa fa-remove"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>备注</label>
                                <textarea class="form-control" autocomplete="off" name="comment" ng-model="model.content.comment" style="width:500px;height:100px;"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="button" class="btn btn-primary"
                                        ng-disabled="myForm.code.$invalid || myForm.name.$invalid || savedisabled"
                                        ng-click="btnsaveClick()">
                                    <i class="fa fa-save fa-fw"></i>保存
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">
    <style>
        label {
            min-width: 80px;
        }
    </style>
}
@section scripts{
    <script src="https://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sweetalert/1.1.2/SweetAlert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <script src="https://cdn.bootcss.com/jstree/3.2.1/jstree.min.js"></script>
    <script src="//139.196.218.9/cdn/ngJsTree.min.js"></script>
    <script src="https://cdn.bootcss.com/node-uuid/1.4.7/uuid.min.js"></script>

    <script>
        var app = angular.module('myApp', ['oitozero.ngSweetAlert', 'angular-loading-bar', 'ui.bootstrap', 'ngJsTree']);

        app.controller('myCtrl', function ($scope, $http, $window, $uibModal, SweetAlert) {

            $scope.model = { id: 0, content: {} };

            $http.post('/earningservice/getcode', {})
                    .success(function (data) {
                        $scope.model.content.code = data.code;
                    });

            $scope.categoryremoveClick = function () {
                delete $scope.model.content.categoryid;
                $scope.categoryname = '';
            };

            $scope.categoryClick = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'categorychoice.html',
                    controller: 'categorychoiceModalCtrl',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    if (model.categoryid > 0) {
                        $scope.model.content.categoryid = model.categoryid;
                        $scope.categoryname = model.categoryname;
                    } else {
                        delete $scope.model.content.categoryid;
                        $scope.categoryname = '';
                    }
                });
            };
 
 
            $scope.btnsaveClick = function () {
                $scope.savedisabled = true;
                $http.post('/earningservice/addsave', $scope.model)
                    .success(function (data) {
                        $scope.savedisabled = false;
                        if (data.message == 'ok') {
                            SweetAlert.swal({ title: '保存成功!可以继续添加', type: 'success' }, function () {
                                window.location.reload();
                            });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    });

            };
        });

        app.controller('categorychoiceModalCtrl', function ($scope, $uibModalInstance, $http, $q, model) {

            $scope.category = {};

            $scope.category.treeConfig = {
                "core": {
                    "animation": 0,
                    "themes": { "stripes": true },
                    "multiple": false
                },
                "plugins": [
                            "dnd", "search",
                            "state", "types", "wholerow"
                ],
                version: 1
            };

            $http.post('/earningservice/categorys', {})
                    .success(function (data) {
                        $scope.category.treeData = data;
                        $scope.category.treeConfig.version++;
                    });

            $scope.selectNode = function (node, selected, event) {
                model.categoryid = parseInt(selected.node.id);
                model.categoryname = selected.node.text;
            };

            $scope.ok = function () {
                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });

    </script>
}