<ul data-sort="100" data-group="体验中心" data-groupsort="90" data-groupicon="fa fa-file-powerpoint-o fa-fw">
    <li ng-limit="mylimit"><a href="/chengyundemo/echo"><i class="fa fa-gear fa-fw"></i><span class="menutitle">mytitle</span></a></li>
</ul>