<ul data-sort="220" data-group="进销存" data-groupsort="100" data-groupicon="fa fa-newspaper-o fa-fw">
    <li>
        <span><i class="fa fa-cube fa-fw"></i><span class="menutitle">库存管理</span></span>
        <ul>
            <li ng-limit="stockinbilladd"><a href="/jxcstorage/stockinbilladd"><i class="fa fa-cubes fa-fw"></i><span class="menutitle">入库单</span></a></li>
            <li ng-limit="stockoutbilladd"><a href="/jxcstorage/stockoutbilladd"><i class="fa fa-cube fa-fw"></i><span class="menutitle">出库单</span></a></li>
            <li ng-limit="stockmovebilladd"><a href="/jxcstorage/stockmovebilladd"><i class="fa fa-truck fa-fw"></i><span class="menutitle">调拨单</span></a></li>
            <li ng-limit="stockinventorybilladd"><a href="/jxcstorage/stockinventorybilladd"><i class="fa fa-calculator fa-fw"></i><span class="menutitle">库存盘点单</span></a></li>
            <li ng-limit="storagestatusreport"><a href="/jxcstorage/storagestatusreport"><i class="fa fa-th-large fa-fw"></i><span class="menutitle">库存状况表</span></a></li>
            <li ng-limit="storagestatushistoryreport"><a href="/jxcstorage/storagestatushistoryreport"><i class="fa fa-th-list fa-fw"></i><span class="menutitle">历史库存状况表</span></a></li>
            <li ng-limit="storagedistributereport"><a href="/jxcstorage/storagedistributereport"><i class="fa fa-exchange fa-fw"></i><span class="menutitle">库存分布表</span></a></li>
            <li ng-limit="virtualstoragestatusreport"><a href="/jxcstorage/virtualstoragestatusreport"><i class="fa fa-database fa-fw"></i><span class="menutitle">虚拟库存状况表</span></a></li>
            <li ng-limit="storageinoutreport"><a href="/jxcstorage/storageinoutreport"><i class="fa fa-list-ol fa-fw"></i><span class="menutitle">出入库流水账</span></a></li>
            <li ng-limit="storagesummaryreport"><a href="/jxcstorage/storagesummaryreport"><i class="fa fa-table fa-fw"></i><span class="menutitle">进销存汇总表</span></a></li>
        </ul>
    </li>
</ul>