<ul data-sort="210">    
    <li>
        <span><i class="fa fa-file-text-o fa-fw"></i><span class="menutitle">单据中心</span></span>
        <ul>
            <li ng-limit="draftlist"><a href="/jxcbillcenter/draftlist"><i class="fa fa-list-ul fa-fw"></i><span class="menutitle">业务草稿</span></a></li>
            <li ng-limit="bizhistory"><a href="/jxcbillcenter/bizhistory"><i class="fa fa-history fa-fw"></i><span class="menutitle">经营历程</span></a></li>            
             
        </ul>
    </li>             
</ul>