<ul data-sort="300">    
    <li>
        <span><i class="fa fa-truck fa-fw"></i><span class="menutitle">销售管理</span></span>
        <ul>            
            <li ng-limit="customerproductlist"><a href="/jxcsale/customerproductlist"><i class="fa fa-list fa-fw"></i><span class="menutitle">产品价格表</span></a></li> 
            <li ng-limit="saleorderadd"><a href="/jxcsale/saleorderadd"><i class="fa fa-file-text-o fa-fw"></i><span class="menutitle">销售订单</span></a></li>
            <li ng-limit="saleorderquery"><a href="/jxcsale/saleorderquery"><i class="fa fa-search fa-fw"></i><span class="menutitle">销售订单查询</span></a></li> 
            <li ng-limit="saleorderreport"><a href="/jxcsale/saleorderproductreport"><i class="fa fa-line-chart fa-fw"></i><span class="menutitle">销售订单统计</span></a></li> 
            <li ng-limit="salebilladd"><a href="/jxcsale/salebilladd"><i class="fa fa-cubes fa-fw"></i><span class="menutitle">销售出库单</span></a></li>
            <li ng-limit="salebackbilladd"><a href="/jxcsale/salebackbilladd"><i class="fa fa-mail-reply fa-fw"></i><span class="menutitle">销售退货单</span></a></li>
            <li>
                <span><i class="fa fa-pie-chart fa-fw"></i><span class="menutitle">销售统计分析</span></span>
                <ul>
                    <li ng-limit="dailysalereport"><a href="/jxcsale/dailysalereport"><i class="fa fa-bar-chart fa-fw"></i><span class="menutitle">销售日报</span></a></li>
                    <li ng-limit="monthsalereport"><a href="/jxcsale/monthsalereport"><i class="fa fa-pie-chart fa-fw"></i><span class="menutitle">销售月报</span></a></li>
                    <li ng-limit="timespansalereport"><a href="/jxcsale/timespansalereport"><i class="fa fa-area-chart fa-fw"></i><span class="menutitle">任意时间段销售报表</span></a></li>
                    <li ng-limit="productsalereport"><a href="/jxcsale/productsalereport"><i class="fa fa-line-chart fa-fw"></i><span class="menutitle">产品销售排行</span></a></li>
                    <li ng-limit="employeesalereport"><a href="/jxcsale/employeesalereport"><i class="fa fa-list-ol fa-fw"></i><span class="menutitle">经手人销售排行</span></a></li>
                    <li ng-limit="customersalereport"><a href="/jxcsale/customersalereport"><i class="fa fa-list-ul fa-fw"></i><span class="menutitle">客户销售排行</span></a></li>
                    <li ng-limit="stocksalereport"><a href="/jxcsale/stocksalereport"><i class="fa fa-th-list fa-fw"></i><span class="menutitle">仓库销售排行</span></a></li>
                </ul>
            </li>
            
        </ul>
    </li>             
</ul>