@{
    ViewBag.Title = "修改密码";
}
<div>
    <div>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><span>修改密码</span></li>
        </ol>

        <div class="panel panel-info">
            <div class="panel-heading">修改密码</div>
            <div class="panel-body">
                <div class="form-group form-inline">
                    <label>
                        新&nbsp;&nbsp;密&nbsp;&nbsp;码
                    </label>
                    <input type="password" class="form-control" id="password1" />
                </div>
                <div class="form-group form-inline">
                    <label>
                        确认密码
                    </label>
                    <input type="password" class="form-control" id="password2" />
                </div>
                <div>
                    <button id="btnsave" class="btn btn-primary">
                        <i class="fa fa-save fw"></i>&nbsp;保存
                    </button>
                    <span style="display: none;" id="ajaxloader"><i class="fa fa-spinner fa-spin"></i></span>
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
 
    <script>
        $(function () {
            $('#btnsave').click(function () {
                if (!$('#password1').val()) {
                    alertify.alert('请填写密码!');
                    return;
                }

                if ($('#password1').val() != $('#password2').val()) {
                    alertify.alert('密码不一致!');
                    return;
                }


                $('#ajaxloader').show();
                $.ajax({
                    url: '/homepageservice/editpasswordsave',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        password: $('#password1').val()
                    },
                    success: function (data) {
                        $('#ajaxloader').hide();
                        if (data.message == 'ok') {
                            alert('保存成功！');
                            window.location.href = "/home/index";
                        } else {
                            alert(data.message);
                        }
                    }
                });

            });
        });
</script>
}