<ul data-sort="215">    
    <li>
        <span><i class="fa fa-gg fa-fw"></i><span class="menutitle">往来管理</span></span>
        <ul>
            <li ng-limit="gatheringbilladd"><a href="/jxcpay/gatheringbilladd"><i class="fa fa-money fa-fw"></i><span class="menutitle">收款单</span></a></li>
            <li ng-limit="paybilladd"><a href="/jxcpay/paybilladd"><i class="fa fa-paypal fa-fw"></i><span class="menutitle">付款单</span></a></li>            
            <li ng-limit="receivablebilladd"><a href="/jxcpay/receivablebilladd"><i class="fa fa-adjust fa-fw"></i><span class="menutitle">应收调整单</span></a></li> 
            <li ng-limit="payablebilladd"><a href="/jxcpay/payablebilladd"><i class="fa fa-exchange fa-fw"></i><span class="menutitle">应付调整单</span></a></li>
            <li ng-limit="receivablequery"><a href="/jxcpay/receivablequery"><i class="fa fa-search fa-fw"></i><span class="menutitle">应收查询</span></a></li> 
            <li ng-limit="payablequery"><a href="/jxcpay/payablequery"><i class="fa fa-binoculars fa-fw"></i><span class="menutitle">应付查询</span></a></li>
            <li ng-limit="returnedmoneyreport"><a href="/jxcpay/returnedmoneyreport"><i class="fa fa-area-chart fa-fw"></i><span class="menutitle">回款分析</span></a></li> 
        </ul>
    </li>             
</ul>