@{
    ViewBag.Title = "库存分布表";
}
<div data-pagelimit="storagedistributereport">
    <div ng-app="myApp" ng-controller="myCtrl">
        @{Html.RenderPartial("/jxcstorage/datechoice");}
        <script type="text/ng-template" id="stockchoice.html">
            <div class="modal-header">
                <h3 class="modal-title">
                    选择仓库
                </h3>
            </div>
            <div class="modal-body">
                <div js-tree="category2.treeConfig" ng-model="category2.treeData" id="treeInstance2" tree-events="loaded:treeLoaded">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">
                    确定
                </button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">
                    取消
                </button>
            </div>

        </script>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><span>库存分布表</span></li>
        </ol>
        <div class="panel panel-info">
            <div class="panel-heading">
                库存分布表
            </div>
            <div class="panel-body">
                <div class="form-group form-inline">

                    <label>产品名称</label>
                    <input type="text" class="form-control" ng-model="filter.productname" placeholder="按编号或名称模糊查询" />
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="filter.showzero" />显示库存为零的产品
                        </label>
                    </div>
                    <button class="btn btn-primary" type="button" ng-click="btnqueryClick()"><i class="fa fa-search fa-fw"></i>查询</button>
                    <button type="button" class="btn btn-primary" ng-click="stockClick()">
                        <i class="fa fa-list fa-fw"></i>
                        选择仓库
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="csv.generate($event, '库存分布表.csv')"><i class="fa fa-file-excel-o fa-fw"></i>导出Excel</button>

                    <span><i class="fa fa-spinner fa-pulse fa-fw" ng-show="showwaiter"></i></span>
                    <label class="checkbox-inline" style="min-width:100px;margin-left:40px;">
                        <input type="checkbox" ng-model="isCostVisible" ng-change="costvisibleChange()" />显示分仓成本
                    </label>
                </div>
            </div>
            <div class="pull-left" style="margin-right:20px;">
                <div js-tree="category.treeConfig" ng-model="category.treeData" id="treeInstance"
                     tree-events="select_node:selectNode">
                </div>
            </div>
            <div style="overflow-x:hidden;">
                <div style="width:100%;overflow-x:auto;">
                    <table ng-table-dynamic="tableParams with cols" export-csv="csv" class="table table-bordered table-condensed table-striped"
                           show-filter="isFiltersVisible">
                        <tr ng-repeat="m in $data" ng-init="outerIndex = $index" ng-class="{'t':'danger'}[m.content.stop]">
                            <td ng-repeat="col in $columns" my-bind-compiled-html="col.getValue(outerIndex, m,col.field)"></td>
                        </tr>
                        <tr class="warning">
                            <td>
                                合计
                            </td>
                            <td>
                                <span ng-bind="totalrecordes"></span>条记录
                            </td>

                            <td></td>
                            <td ng-repeat-start="s in stocks">
                                <span ng-bind="qtysums[s.id]"></span>
                            </td>
                            <td ng-show="isCostVisible"></td>
                            <td ng-repeat-end ng-show="isCostVisible">
                                <span ng-bind="totalsums[s.id]"></span>
                            </td>
                            <td ng-bind="qtysum"></td>
                            <td></td>
                            <td ng-bind="totalsum | currency:'￥' | cost:showcost"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
@section styles{
    <link href="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">

    <style>
        .table td, th {
            text-align: center;
        }

        label {
            min-width: 80px;
        }
    </style>
}
@section scripts{
    <script src="https://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdn.bootcss.com/ng-table/1.0.0-beta.7/ng-table.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sweetalert/1.1.2/SweetAlert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <script src="//139.196.218.9/cdn/gbk.js"></script>
    <script src="//139.196.218.9/cdn/ng-table-export.src.js"></script>
    <script src="https://cdn.bootcss.com/jstree/3.2.1/jstree.min.js"></script>
    <script src="//139.196.218.9/cdn/ngJsTree.min.js"></script>
    <script src="//139.196.218.9/cdn/myfilter.js"></script>
    <script src="//139.196.218.9/cdn/ngtablebindhtml.js"></script>

    <script>
        var app = angular.module('myApp', ['ngTable', 'oitozero.ngSweetAlert', 'angular-loading-bar', 'ui.bootstrap', 'ngTableExport', 'ngJsTree', 'ngSanitize', 'myfilter', 'ngTableBindHtml']);

        app.controller('myCtrl', function ($scope, $http, $window, NgTableParams, SweetAlert, $uibModal, $sce) {

            $scope.filter = { showzero: false };
            $scope.queryfilter = {};
            $scope.showcost = false;
            $scope.digit = 2;
            $scope.showwaiter = false;

            $scope.category = {};
            $scope.categoryid = '0';

            $scope.selectedstockids = '';
            $scope.cols = [];

            var initcolumns = function () {
                $scope.cols = [];

                $scope.cols.push({ field: "no", title: "No.", "class": "bg-warning", show: true, getValue: noValue });
                $scope.cols.push({ field: "code", title: "产品编号", sortable: "code", filter: { code: "text" }, "class": "bg-warning", show: true, getValue: contentValue });
                $scope.cols.push({ field: "name", title: "产品名称", sortable: "name", filter: { name: "text" }, "class": "bg-warning", show: true, getValue: contentValue });
                angular.forEach($scope.stocks, function (item) {
                    $scope.cols.push({ field: 'stock' + item.id, title: item.content.name, "class": "bg-info", show: true, getValue: qtyValue });
                    $scope.cols.push({ field: "price" + item.id, title: item.content.name + '成本均价', "class": "bg-info", show: false, getValue: costValue });
                    $scope.cols.push({ field: "total" + item.id, title: item.content.name + '成本金额', "class": "bg-info", show: false, getValue: costValue });
                });

                $scope.cols.push({ field: "qty", title: "数量小计", "class": "bg-warning", show: true, getValue: qtyValue });
                $scope.cols.push({ field: "price", title: "成本均价", "class": "bg-warning", show: true, getValue: costValue });
                $scope.cols.push({ field: "total", title: "成本金额", "class": "bg-warning", show: true, getValue: costValue });
                //$scope.cols.push({ field: "categoryname", title: "分类", "class": "bg-warning", show: true, getValue: contentValue });
                $scope.cols.push({ field: "standard", title: "规格", filter: { standard: "text" }, "class": "bg-warning", show: true, getValue: contentValue });
                $scope.cols.push({ field: "type", title: "型号", filter: { type: "text" }, "class": "bg-warning", show: true, getValue: contentValue });
                $scope.cols.push({ field: "unit", title: "单位", filter: { unit: "text" }, "class": "bg-warning", show: true, getValue: contentValue });
                //$scope.cols.push({ field: "comment", title: "备注", filter: { comment: "text" }, "class": "bg-warning", show: true, getValue: contentValue });
            };

            $scope.costvisibleChange = function () {
                angular.forEach($scope.stocks, function (stock) {
                    angular.forEach($scope.cols, function (col) {
                        if (col.field === 'price' + stock.id || col.field === 'total' + stock.id) {
                            col.show = $scope.isCostVisible;
                        }
                    });
                });
            };

            var noValue = function (index, row) {
                return '<span ng-bind="(tableParams.page() - 1) * tableParams.count() + outerIndex + 1"></span>';
            };

            var contentValue = function (index, row, field) {
                if (field === 'categoryname') {
                    return '<span ng-bind="m.content.category.name"></span>';
                } else {
                    return '<span ng-bind="m.content.' + field + '"></span>';
                }
            };

            var qtyValue = function (index, row, field) {
                if (field === 'qty') {
                    return '<span ng-bind="m.content.storage[\'0\'][\'qty\']"></span>';

                } else if (field.substring(0, 5) === 'stock') {
                    var stockid = field.substring(5);
                    return '<span ng-bind="m.content.storage[\'' + stockid + '\'][\'qty\']"></span>';

                }
            };

            var costValue = function (index, row, field) {
                if (field === 'price' || field === 'total') {
                    return '<span ng-bind="m.content.storage[\'0\'][\'' + field + '\'] | currency:\'￥\' | cost:showcost"></span>';
                } else {
                    var stockid = field.substring(5);
                    return '<span ng-bind="m.content.storage[\'' + stockid + '\'][\'' + field.substring(0, 5) + '\'] | currency:\'￥\' | cost:showcost"></span>';

                }
            }

            $scope.category.treeConfig = {
                "core": {
                    "animation": 0,
                    "themes": { "stripes": true },
                    "multiple": false
                },
                "plugins": ["types", "wholerow"
                ],
                version: 1
            };

            $http.post('/storagereportservice/initdistributereport', {})
                    .success(function (data) {
                        $scope.showcost = data.showcost;
                        $scope.digit = data.digit;

                        $scope.category.treeData = data.categorys;
                        $scope.category.treeConfig.version++;
                    });

            var selectednode;
            $scope.selectNode = function (node, selected, event) {
                if (selectednode) {
                    angular.element('#treeInstance').jstree(true).set_icon(selectednode, 'fa fa-folder-o fa-fw');
                }
                selectednode = selected.node;
                angular.element('#treeInstance').jstree(true).set_icon(selected.node, 'fa fa-folder-open-o fa-fw');
                $scope.categoryid = selected.node.id;
                $scope.tableParams.reload();
            };

            var getData = function ($defer, params) {
                var filter = $scope.queryfilter;
                filter.categoryid = $scope.categoryid;
                var sorting = params.sorting();
                var count = params.count();
                var page = params.page();
                $http.post('/storagereportservice/storagedistributereport',
                    { page: page, count: count, sorting: JSON.stringify(sorting), filter: JSON.stringify(filter) })
                    .success(function (data) {
                        if ($scope.selectedstockids === '') {
                            $scope.stocks = data.stocks;
                        } else {
                            $scope.stocks = [];
                            angular.forEach(data.stocks, function (item) {
                                if ($scope.selectedstockids.indexOf(item.id + '') !== -1) {
                                    $scope.stocks.push(item);
                                }
                            });
                        }
                        $scope.qtysums = data.qtysums;
                        $scope.totalsums = data.totalsums;
                        initcolumns();
                        $scope.tableParams.total(data.resulttotal);
                        $scope.totalrecordes = data.resulttotal;
                        $scope.datalist = data.data;
                        $scope.qtysum = data.qtysum;
                        $scope.totalsum = data.totalsum;
                        $defer.resolve(data.data);

                        $scope.showwaiter = false;
                    });
            };

            $scope.btnqueryClick = function () {
                $scope.showwaiter = true;
                $scope.queryfilter = JSON.parse(angular.toJson($scope.filter));
                $scope.tableParams = new NgTableParams({ count: 25 }, { counts: [10, 25, 50, 100], total: 0, getData: getData });

            };

            $scope.btnqueryClick();

            $scope.stockClick = function () {
                var model = {};
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'stockchoice.html',
                    controller: 'stockchoiceModalCtrl',
                    resolve: {
                        model: function () { return model; }
                    }
                });

                modalInstance.result.then(function () {
                    $scope.selectedstockids = model.stockids;
                    $scope.tableParams.reload();
                });
            };

        });

        app.controller('stockchoiceModalCtrl', function ($scope, $uibModalInstance, $http, $sce, $q, model) {

            $scope.category2 = {};

            $scope.treeLoaded = function () {
                angular.element('#treeInstance2').jstree(true).open_all();
            };

            $scope.category2.treeConfig = {
                "core": {
                    "animation": 0,
                    "themes": { "stripes": true },
                    "multiple": true,
                    "expand_selected_onload": true
                },
                "plugins": ["checkbox", "wholerow"
                ],
                version: 1
            };

            $http.post('/commonservice/stockstree', {})
                    .success(function (data) {
                        $scope.category2.treeData = data;
                        $scope.category2.treeConfig.version++;
                    });

            $scope.ok = function () {
                model.stockids = angular.element('#treeInstance2').jstree(true).get_checked(false);

                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };
        });


    </script>
}