<div data-pagelimit="initstorageimport">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
        <li><a href="/jxcinit/initstoragelist">期初库存</a></li>
    </ol>
    <div class="panel panel-info">
        <div class="panel-heading">
            期初库存导入
        </div>
        <div class="panel-body">
            <form method="post" id="form1" action="/upload/uploadfile" enctype="multipart/form-data">
                <ol style="line-height:30px;">
                    <li>
                        下载数据导入模板：
                        <a id="downloada" download="期初库存导入" href="javascript:;" style="display:none">Excel模板</a>
                        <span id="downloadtip">正在准备模板数据<i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                        <span style="margin-left:20px;color:red;">请注意：由于模板文件包含最新的产品资料和最近更新的期初库存数据，每次导入时最好重新下载模板</span>
                    </li>
                    <li>在Excel模板中填充要导入的数据</li>

                    <li>
                        <div class="form-group form-inline">
                            <input type="file" class="form-control" id="file" name="file" />
                            <input id="btnupload" type="submit" class="btn btn-primary" value="上传并导入" />
                            <img src="~/content/images/loader.gif" alt="" id="ajaxloader" style="display:none;margin-left:10px;" />
                        </div>
                    </li>
                </ol>
            </form>
            <div class="alert alert-danger" role="alert" id="errors" style="display: none;">
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="https://cdn.bootcss.com/alertify.js/0.3.11/alertify.core.min.css" rel="Stylesheet" />
    <link href="https://cdn.bootcss.com/alertify.js/0.3.11/alertify.bootstrap.min.css" rel="Stylesheet" />

}
@section scripts{
    <script src="https://cdn.bootcss.com/alertify.js/0.3.11/alertify.min.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js"></script>
    <script>
        $(function () {
            var dealfile = function (path) {
                $.ajax({
                    url: '/initstorageservice/importdata',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        path: path
                    },
                    success: function (data) {
                        $('#ajaxloader').hide();
                        $('#btnupload').prop('disabled', false);
                        if (data.message == 'ok') {
                            alertify.alert('导入成功！', function () {
                                window.location.href = '/jxcinit/initstoragelist';
                            });
                        } else {
                            $('#errors').html(data.message);
                            $('#errors').show();
                        }
                    }
                });

            };

            $('#form1').ajaxForm({
                beforeSubmit: function () {
                    if (!confirm('确定要导入吗？')) {
                        return false;
                    }
                    $('#ajaxloader').show();
                    $('#btnupload').prop('disabled', true);
                    return true;
                },
                dataType: 'json',
                success: function (data) {

                    if (data.message == "ok") {
                        dealfile(data.path);
                    } else {
                        $('#ajaxloader').hide();
                        $('#btnupload').prop('disabled', false);

                        $('#errors').html(data.message);
                        $('#errors').show();
                    }
                }
            });

            $.ajax({
                url: '/initstorageservice/prepareexcel',
                type: 'post',
                dataType: 'json',
                data: {},
                success: function (data) {
                    $('#downloada').prop('href', data.url);
                    $('#downloadtip').hide();
                    $('#downloada').show();                    
                }
            });

        });
    </script>
}