<ul data-sort="300">
    <li>
        <span><i class="fa fa-map-o fa-fw"></i><span class="menutitle">期初建账</span></span>
        <ul>
            <li ng-limit="initstoragelist"><a href="/jxcinit/initstoragelist"><i class="fa fa-cubes fa-fw"></i><span class="menutitle">期初库存</span></a></li>
            <li ng-limit="initreceivablelist"><a href="/jxcinit/initreceivablelist"><i class="fa fa-money fa-fw"></i><span class="menutitle">期初应收</span></a></li>
            <li ng-limit="initpayablelist"><a href="/jxcinit/initpayablelist"><i class="fa fa-credit-card fa-fw"></i><span class="menutitle">期初应付</span></a></li>
            <li ng-limit="initbanklist"><a href="/jxcinit/initbanklist"><i class="fa fa-rmb fa-fw"></i><span class="menutitle">期初现金银行</span></a></li>
            <li ng-limit="initover"><a href="/jxcinit/initover"><i class="fa fa-unlock-alt fa-fw"></i><span class="menutitle">开账</span></a></li>

        </ul>
    </li>
</ul>