<ul data-sort="212">    
    <li>
        <span><i class="fa fa-money fa-fw"></i><span class="menutitle">财务管理</span></span>
        <ul>
            <li ng-limit="feebilladd"><a href="/jxcaccounting/feebilladd"><i class="fa fa-rouble fa-fw"></i><span class="menutitle">费用单</span></a></li>
            <li ng-limit="earningbilladd"><a href="/jxcaccounting/earningbilladd"><i class="fa fa-shekel fa-fw"></i><span class="menutitle">收入单</span></a></li>            
            <li ng-limit="transferbilladd"><a href="/jxcaccounting/transferbilladd"><i class="fa fa-credit-card fa-fw"></i><span class="menutitle">转款单</span></a></li> 
            <li ng-limit="saleinvoicebilladd"><a href="/jxcaccounting/saleinvoicebilladd"><i class="fa fa-file-text-o fa-fw"></i><span class="menutitle">销售发票</span></a></li>
            <li ng-limit="purchaseinvoicebilladd"><a href="/jxcaccounting/purchaseinvoicebilladd"><i class="fa fa-file-text fa-fw"></i><span class="menutitle">采购发票</span></a></li> 
            <li ng-limit="feereport"><a href="/jxcaccounting/timespanfeereport"><i class="fa fa-bar-chart fa-fw"></i><span class="menutitle">费用统计</span></a></li>
        </ul>
    </li>             
</ul>