<ul data-sort="212" data-group="进销存" data-groupsort="100" data-groupicon="fa fa-newspaper-o fa-fw">
    <li>
        <span><i class="fa fa-money fa-fw"></i><span class="menutitle">财务管理</span></span>
        <ul>
            <li ng-limit="feebilladd"><a href="/jxcaccounting/feebilladd"><i class="fa fa-rouble fa-fw"></i><span class="menutitle">费用单</span></a></li>
            <li ng-limit="earningbilladd"><a href="/jxcaccounting/earningbilladd"><i class="fa fa-shekel fa-fw"></i><span class="menutitle">收入单</span></a></li>
            <li ng-limit="transferbilladd"><a href="/jxcaccounting/transferbilladd"><i class="fa fa-credit-card fa-fw"></i><span class="menutitle">转款单</span></a></li>
            <li ng-limit="saleinvoicebilladd"><a href="/jxcaccounting/saleinvoicebilladd"><i class="fa fa-file-text-o fa-fw"></i><span class="menutitle">销售发票</span></a></li>
            <li ng-limit="purchaseinvoicebilladd"><a href="/jxcaccounting/purchaseinvoicebilladd"><i class="fa fa-file-text fa-fw"></i><span class="menutitle">采购发票</span></a></li>
            <li>
                <span><i class="fa fa-book fa-fw"></i><span class="menutitle">财务查询统计</span></span>
                <ul>
                    <li ng-limit="feereport"><a href="/jxcaccounting/timespanfeereport"><i class="fa fa-bar-chart fa-fw"></i><span class="menutitle">费用统计</span></a></li>
                    <li ng-limit="feeflow"><a href="/jxcaccounting/feeflow"><i class="fa fa-list fa-fw"></i><span class="menutitle">费用流水</span></a></li>
                    <li ng-limit="earningreport"><a href="/jxcaccounting/timespanearningreport"><i class="fa fa-line-chart fa-fw"></i><span class="menutitle">收入统计</span></a></li>
                    <li ng-limit="earningflow"><a href="/jxcaccounting/earningflow"><i class="fa fa-list-ul fa-fw"></i><span class="menutitle">收入流水</span></a></li>
                    <li ng-limit="bankquery"><a href="/jxcaccounting/bankquery"><i class="fa fa-credit-card fa-fw"></i><span class="menutitle">现金银行查询</span></a></li>
                    <li ng-limit="bankflow"><a href="/jxcaccounting/bankflow"><i class="fa fa-list-ol fa-fw"></i><span class="menutitle">现金银行流水</span></a></li>
                    <li ng-limit="saleinvoicereport"><a href="/jxcaccounting/saleinvoicereport"><i class="fa fa-area-chart fa-fw"></i><span class="menutitle">销售发票统计</span></a></li>
                    <li ng-limit="saleuninvoicereport"><a href="/jxcaccounting/saleuninvoicereport"><i class="fa fa-map-o fa-fw"></i><span class="menutitle">销售欠票统计</span></a></li>
                    <li ng-limit="saleinvoicequery"><a href="/jxcaccounting/saleinvoicequery"><i class="fa fa-search fa-fw"></i><span class="menutitle">销售发票查询</span></a></li>
                    <li ng-limit="purchaseinvoicereport"><a href="/jxcaccounting/purchaseinvoicereport"><i class="fa fa-pie-chart fa-fw"></i><span class="menutitle">采购发票统计</span></a></li>
                    <li ng-limit="purchaseuninvoicereport"><a href="/jxcaccounting/purchaseuninvoicereport"><i class="fa fa-map fa-fw"></i><span class="menutitle">采购欠票统计</span></a></li>
                    <li ng-limit="purchaseinvoicequery"><a href="/jxcaccounting/purchaseinvoicequery"><i class="fa fa-binoculars fa-fw"></i><span class="menutitle">采购发票查询</span></a></li>
                </ul>
            </li>

        </ul>
    </li>
</ul>