@{
    ViewBag.Title = "编辑员工资料";
}
<div data-pagelimit="employeeadd">
    <div ng-app="myApp" ng-controller="myCtrl">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><a href="/commonconfig/employeelist">员工资料</a></li>
            <span>编辑员工资料</span>
        </ol>
        <div class="panel panel-info">
            <div class="panel-heading">
                编辑员工资料
            </div>
            <div class="panel-body">
                <form name="myForm">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group form-inline col-md-12">
                                <label>员工编号<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" autocomplete="off" name="code" ng-model="model.content.code" required />
                                <span class="text-danger" ng-show="myForm.code.$invalid">必填项</span>
                            </div>
                            <div class="form-group form-inline col-md-12">
                                <label>员工姓名<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" autocomplete="off" name="name" ng-model="model.content.name" required />
                                <span class="text-danger" ng-show="myForm.name.$invalid">必填项</span>
                            </div>
                            <div class="form-group form-inline  col-md-4 col-lg-3">
                                <label>所在部门</label>
                                <select class="form-control" ng-model="model.content.departmentid" ng-options="p.id as p.content.name for p in departments">
                                    <option value="请选择"></option>
                                </select>
                            </div>
                            <div class="form-group form-inline  col-md-4 col-lg-3">
                                <label>担任职务</label>
                                <input type="text" class="form-control" ng-model="model.content.job" />
                            </div>
                            <div class="form-group form-inline  col-md-4 col-lg-3">
                                <label>联系电话</label>
                                <input type="text" class="form-control" ng-model="model.content.mobile" />
                            </div>
                            <div class="form-group form-inline">
                                <label>E-mail</label>
                                <input type="text" class="form-control" ng-model="model.content.email" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>备注</label>
                                <textarea class="form-control" autocomplete="off" name="comment" ng-model="model.content.comment" style="width:500px;height:100px;"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="button" class="btn btn-primary"
                                        ng-disabled="myForm.code.$invalid || myForm.name.$invalid || savedisabled"
                                        ng-click="btnsaveClick()">
                                    <i class="fa fa-save fa-fw"></i>保存
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.css" rel="stylesheet">
    <style>
        label {
            min-width: 80px;
        }
    </style>

}
@section scripts{
    <script src="https://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-sweetalert/1.1.2/SweetAlert.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>

    <script>
        var app = angular.module('myApp', ['oitozero.ngSweetAlert', 'angular-loading-bar', 'ui.bootstrap']);

        app.controller('myCtrl', function ($scope, $http, $window, SweetAlert) {

            var id=@((ViewBag.QueryString as System.Collections.Specialized.NameValueCollection).Get("id")) ;

            $http.post('/departmentservice/list',
                    { count: 9999, sorting: '{"name":"asc"}', filter: '{}' })
                    .success(function (data) {
                        $scope.departments = data.data;
                    });

            $http.post('/employeeservice/edit', {id:id})
                    .success(function (data) {
                        $scope.model = data.data;
                    });

            $scope.btnsaveClick = function () {
                $scope.savedisabled = true;
                $http.post('/employeeservice/editsave', $scope.model)
                    .success(function (data) {
                        $scope.savedisabled = false;
                        if (data.message == 'ok') {
                            SweetAlert.swal({ title: '保存成功!', type: 'success' }, function () {
                                window.location.href = '/commonconfig/employeelist';
                            });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    });

            };
        });

    </script>
}