@{
    ViewBag.Title = "复制权限";
}
<div data-pagelimit="userlist">
    <div ng-app="myApp" ng-controller="myCtrl">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><a href="/commonconfig/userlist">操作员与权限</a></li>
            <li><span>复制权限</span></li>
        </ol>
        <div class="panel panel-info">
            <div class="panel-heading">
                复制权限
            </div>
            <div class="panel-body">
                <form name="myForm">

                    <div class="form-group form-inline">
                        <label>把操作员【<span ng-bind="model.content.name"></span>】的权限复制给选中的操作员：</label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline" ng-repeat="m in employees">
                            <input type="checkbox" ng-model="checkboxes[m.id]"> {{m.content.name}}
                        </label>
                    </div>
                    <div class="form-group form-inline">
                        <button type="button" class="btn btn-primary"
                                ng-click="btnsaveClick()">
                            <i class="fa fa-save fa-fw"></i>执行
                        </button>
                        <label style="margin-left:20px;" class="checkbox-inline"><input type="checkbox" name="copyscope" ng-model="copyscope" />同时复制数据授权</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.css" rel="stylesheet">
    <style>
        label {
            min-width: 80px;
        }
    </style>
}
@section scripts{
    <script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="//cdn.bootcss.com/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
    <script src="//cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdn.bootcss.com/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="//cdn.bootcss.com/angular-sweetalert/1.1.2/SweetAlert.min.js"></script>
    <script src="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>

    <script>
        var app = angular.module('myApp', ['oitozero.ngSweetAlert', 'angular-loading-bar', 'ui.bootstrap']);

        app.controller('myCtrl', function ($scope, $http, $window, SweetAlert) {

            var id=@((ViewBag.QueryString as System.Collections.Specialized.NameValueCollection).Get("id")) ;

            $scope.checkboxes={};
            $scope.copyscope=false;

            $http.post('/userservice/copy', {id:id})
                    .success(function (data) {
                        $scope.model = data.data;
                        $scope.employees=data.employees;
                    });

            $scope.btnsaveClick = function () {
                var ids='';
                angular.forEach($scope.employees,function(item){
                    if($scope.checkboxes[item.id]===true){
                        ids+=item.id+',';
                    }
                });

                if (ids==='') {
                    SweetAlert.swal({ title: '请选择目标操作员！', type: 'error' });
                    return;
                }

                $scope.savedisabled = true;
                $http.post('/userservice/copysave', { id:id,ids: ids,copyscope:$scope.copyscope })
                    .success(function (data) {
                        $scope.savedisabled = false;
                        if (data.message == 'ok') {
                            SweetAlert.swal({ title: '复制权限成功!', type: 'success' }, function () {
                                window.location.href = '/commonconfig/userlist';
                            });
                        } else {
                            SweetAlert.swal({ title: data.message, type: 'error' });
                        }
                    });

            };
        });

    </script>
}